/* =====================================================
    | ENI FONT |
   ===================================================== */


/* eni regular
   ===================================================== */
@font-face {
    font-family: 'EniExpRegRegular';
    src: url('../fonts/eniexpreg-webfont.eot');
    src: url('../fonts/eniexpreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eniexpreg-webfont.woff') format('woff'),
         url('../fonts/eniexpreg-webfont.ttf') format('truetype'),
         url('../fonts/eniexpreg-webfont.svg#EniExpRegRegular') format('svg');
    font-weight: normal !important;
    font-style: normal !important;

}

/* eni bold
   ===================================================== */
@font-face {
    font-family: 'EniExpBoldRegular';
    src: url('../fonts/eniexpbol-webfont.eot');
    src: url('../fonts/eniexpbol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eniexpbol-webfont.woff') format('woff'),
         url('../fonts/eniexpbol-webfont.ttf') format('truetype'),
         url('../fonts/eniexpbol-webfont.svg#EniExpBoldRegular') format('svg');
    font-weight: normal !important;
    font-style: normal !important;

}

/* eni light
   ===================================================== */
@font-face {
    font-family: 'EniExpLightRegular';
    src: url('../fonts/eniexplig-webfont.eot');
    src: url('../fonts/eniexplig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eniexplig-webfont.woff') format('woff'),
         url('../fonts/eniexplig-webfont.ttf') format('truetype'),
         url('../fonts/eniexplig-webfont.svg#EniExpLightRegular') format('svg');
    font-weight: normal !important;
    font-style: normal !important;

}

