@font-face {
	font-family: 'enitablightregular';
	src: url('../fonts/enitabreg-webfont.eot');
	src: url('../fonts/enitabreg-webfont.eot?#iefix')
	format('embedded-opentype'), url('../fonts/enitabreg-webfont.woff2')
	format('woff2'), url('../fonts/enitabreg-webfont.woff') format('woff'),
	url('../fonts/enitabreg-webfont.ttf') format('truetype'),
	url('../fonts/enitabreg-webfont.svg#enitabregregular') format('svg');
	font-weight: normal !important;
	font-style: normal !important;
}


@font-face {
	font-family: 'enitablight';
	src: url('../fonts/EniTabLig.otf');
	src: url('../fonts/EniTabLig.eot');
	src: url('../fonts/enitabreg-webfont.eot?#iefix')
	format('embedded-opentype'), url('../fonts/enitabreg-webfont.woff2')
	format('woff2'),
	url('../fonts/enitabreg-webfont.svg#enitabregregular') format('svg');
	font-weight: normal !important;
	font-style: normal !important;
}

@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix')
	format('embedded-opentype'),
	url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
	url('../fonts/opensans-regular-webfont.woff') format('woff'),
	url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
	url('../fonts/opensans-regular-webfont.svg#open_sansregular')
	format('svg');
	font-weight: normal !important;
	font-style: normal !important;
}

.btn-primary {
	background-color: #2d2d28 !important;
	color: rgba(255, 255, 255, .84) !important;
	text-transform: none!important;
}

.form-horizontal .form-group {
	margin-right: 0px;
	margin-left: 0px;
}

body {

	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	overflow-scrolling:touch;
	-webkit-text-size-adjust: none
	background-color: #FFFFFF !important;
	font-family: 'open_sansregular' !important;
	font-size: 150%;
}
.yellow{
	background-color:#ffd300;
}
.bw{
	background-color:#fff;
}

.btn {
	padding: 16px 30px !important;
}

.container {
	padding-top: 0px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 40px;


	height:100%;
	min-height:100vh;
	/*min-width: 100vw;*/

	max-width: 640px;
	margin:0 auto;
}

.eni-font{
	font-family: 'enitablightregular' !important;
	font-size: 150%;
}

.eni-font-small {
	font-family: 'enitablightregular' !important;
	font-size: 100%;
}

.eni-font-title {
	font-family: 'enitabboldregular' !important;
	font-size: 200%;
}

.error {
	color: #c6061d;
	font-family: 'EniExpLightRegular' !important;
	font-size: 80%;
	padding-bottom:0 !important;
	margin-bottom:0 !important;
}


/*FORM*/
.yellow .container .formWrapper{
	border-radius:5px;
	background-color:#fff;
	padding:25px;
	margin:5px 0;

/*
	-webkit-box-shadow: 0px 2px 5px 0px rgba(85,85,85,0.5);
	-moz-box-shadow: 0px 2px 5px 0px rgba(85,85,85,0.5);
	box-shadow: 0px 2px 5px 0px rgba(85,85,85,0.5);
*/
}
.bw .container .formWrapper{
	border-radius:5px;
	background-color:#f8f8f8;
	padding:25px;
	margin:5px 0;
/*
	-webkit-box-shadow: 0px 2px 5px 0px rgba(85,85,85,0.5);
	-moz-box-shadow: 0px 2px 5px 0px rgba(85,85,85,0.5);
	box-shadow: 0px 2px 5px 0px rgba(85,85,85,0.5);
*/
}

.container .form-group:nth-child(2){
	margin-top:40px !important;
}

.container .form-group .multiple{
	width: 100%;
	clear: both;
}
.container .form-group .multiple input{
	display: flex;
	float: left;
	max-width: 45%;
}

.bw .container .form-group input{
	background-color:#f8f8f8 !important;
}
.container .form-group .multiple span{
	float: left;
	width:10%;
	line-height:2.3em;
	padding:0 4.5%;
	display: flex;

	/*background: #ccc;*/
}

.container .formWrapper label{
	font-family: 'enitabboldregular' !important;
	/*font-size:100%;*/
	margin:0;
}
.container .formWrapper p{
	padding-top:5px;
	/*font-family: 'enitablightregular' !important;*/
	font-family: 'enitabboldregular' !important;
}
.container .formWrapper p.desc{
	width: 100%;
	clear:both;
	font-family: 'enitablightregular' !important;	
}
/*.container .formWrapper label, .container .formWrapper p{
	padding:10px 0;
}*/

/*FORM INPUT*/
.container .formWrapper .form-control {
	padding: 0;
	box-shadow:none;
	border:none;
	border-bottom: 1.5px solid #555;
	border-radius:0;

    font-size: 16px !important; /*minima dimensione per disabilitare lo zoom automatico da ios*/
}
.container .formWrapper .form-control:focus{
	border-bottom: 1.5px solid #555;
	box-shadow:none;
}
.container .formWrapper .form-control::placeholder{
	color:#555;
	opacity: 0.2;
}

input#saveCardButton{
	border:none;
	margin:30px 0;

	/*
	-webkit-box-shadow: 0px 2px 5px 0px rgba(85,85,85,0.5);
	-moz-box-shadow: 0px 2px 5px 0px rgba(85,85,85,0.5);
	box-shadow: 0px 2px 5px 0px rgba(85,85,85,0.5);
*/
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	padding:20px 0 !important;
	font-family: 'enitabboldregular' !important;
}
input#saveCardButton:hover, input#saveCardButton:focus, input#saveCardButton:active{
	box-shadow: none;
}
#EXPMM-error{
	display: none !important;
}
/*END FORM*/


/*LOADING CONTAINER*/
#loading-container {
    opacity:0;
    animation: fadeIn 0.5s normal forwards ease-in-out;
    animation-delay: 0s;

	text-align: center;
	position: fixed;
	left:0;
	right:0;

	z-index:10;
	width: 100%;
	height:100vh;
	padding-top:50%;
	overflow: hidden;
	display: none;
}

.bw #loading-container{
			background:#f8f8f8;
}

.yellow #loading-container{
			background:#ffd300;
}


@keyframes fadeIn {
    0% {
      opacity:0;
      top:10%;
    }
    100% {
      opacity:1;
      top:0;
    }
  }

/*WIDTH INFERIORE AD IPHONE 4*/
@media(max-width:319px){
	.container {
		padding-top: 0px;
		padding-left: 3.5%;
		padding-right: 3.5%;
		padding-bottom: 40px;

		height:100%;
		min-height:100vh;

		max-width: 100%;
		margin:0 auto;
	}

	.container .form-group .multiple input{
		display: flex;
		float: left;
		max-width: 100%;
	}
	.container .form-group .multiple span{
		display: none;
	}
}