legend {
	font-size: 36px;
    line-height: 40px;
    text-align: center;
    font-family: "EniExpRegRegular", Helvetica, Arial, sans-serif;
	border-bottom: transparent;
}

p {
	font-size: 20px;
    line-height: 28px;
    font-family: "EniExpRegRegular", Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;
}

figure {
    text-align: center;
    margin-bottom: 56px;
}

fieldset {
	margin: 0px 20px;
}