<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
	<wb-module deploy-name="MPEmailSenderEJB">
		<wb-resource deploy-path="/" source-path="/ejbModule" tag="defaultRootSource"/>
		<property name="ClientJARURI" value="MPEmailSenderEJBClient.jar"/>
		<property name="ClientProject" value="MPEmailSenderEJBClient"/>
        <property name="java-output-path" value="/MPEmailSenderEJB/build/classes"/>
	</wb-module>
</project-modules>
