html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	background: transparent;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: inherit;
	vertical-align: baseline;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	line-height: 1;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,main,nav,section
	{
	display: block;
}

ul,ol {
	list-style: none;
	list-style-image: none;
}

blockquote,q {
	quotes: none;
}

/*blockquote { margin: 1em 40px; } decommentare se si vuole margine */
blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

b,strong {
	font-weight: bold;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

tt,pre,code,kbd,samp {
	font-family: monospace, serif;
	_font-family: "courier new", monospace; /*font-size: 1em;*/
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

hr {
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #cccccc;
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not ([controls] ) {
	display: none;
}

[hidden] {
	display: none;
}

sub,sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

html {
	font-family: sans-serif;
	color: #222;
	position: relative;
	min-height: 100%;
}

button,input,select,textarea {
	font-family: sans-serif;
	color: #222;
}

small {
	font-size: 85%;
}

::-moz-selection {
	background: #e5e5e5; /* color: #333; */
	text-shadow: none;
}

::selection {
	background: #e5e5e5; /* color: #333; */
	text-shadow: none;
}

/* =| Images |=
============================================================================= */
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

svg:not (:root ) {
	overflow: hidden;
}

|
GLOBAL CLASS | ===================================================== * /
body {
	background-color: white;
	color: #222222;
	font: normal 14px/20px "open_sansregular", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hidden {
	display: none;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.ir {
	display: block;
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	text-indent: -999em;
	text-align: left;
	direction: ltr;
	*line-height: 0;
	overflow: hidden;
}

.ir br {
	display: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.clear {
	height: 0;
	clear: both;
	line-height: 0;
}

input[type="button"],input[type="submit"],input[type="image"] {
	cursor: pointer;
}

::-webkit-input-placeholder {
	color: #aaa;
	font-family: 'open_sanssemibold_italic';
}

::-moz-placeholder {
	color: #aaa;
	font-family: 'open_sanssemibold_italic';
}

::-ms-input-placeholder {
	color: #aaa;
	font-family: 'open_sanssemibold_italic';
}

.placeholder {
	color: #aaa !important;
	font-family: 'open_sanssemibold_italic' !important;
}

input[type="text"],input[type="email"],input[type="password"],input[type="number"],.smallForm input[type="email"],.smallForm input[type="password"],.smallForm input[type="number"],input[type="email"],input[type="password"]:-ms-input-placeholder
	{
	color: #aaa !important;
	font-family: 'open_sanssemibold_italic' !important;
}

input[type="text"],input[type="email"],input[type="password"],input[type="number"],.smallForm input[type="email"],.smallForm input[type="password"],.smallForm input[type="number"],input[type="email"],input[type="password"]:-moz-placeholder
	{
	color: #aaa !important;
	font-family: 'open_sanssemibold_italic' !important;
}

.bgGray {
	background-color: #f7f7f7;
}

.bgGray p {
	color: #555555;
}

.bgRed {
	background-color: #c40e24;
}

.bgWhite {
	background-color: white;
}

.bgWhiteDark {
	background-color: #f2f2f2;
}

.border-top-gray {
	border-top: solid 1px #e5e5e5;
}

.border-bottom-gray {
	border-bottom: solid 1px #e5e5e5;
}

.border-top-dark-gray {
	border-top: dashed 1px #808080;
}

.border-none {
	border: none !important;
}

.padding-none {
	padding: 0 !important;
}

.padding-top-none {
	padding-top: 0 !important;
}

.padding-bottom-none {
	padding-bottom: 0 !important;
}

.padding-30 {
	padding: 30px 0 !important;
}

.margin-none {
	margin: 0 !important;
}

.margin-double {
	margin-bottom: 30px !important;
}

.margin-top-none {
	margin-top: 0 !important;
}

.margin-bottom-none {
	margin-bottom: 0 !important;
}

.gray--border input {
	border-color: #d9d9d9 !important;
}

.display-inline-block {
	display: inline-block !important;
}

.fullWidth {
	width: 100%;
}

/* =====================================================
| LAYOUT |
===================================================== */
.widthLayout {
	width: 80%;
	margin: 0 auto;
}

@media screen and (min-width: 480px) {
	.widthLayout {
		width: 450px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 768px) {
	.widthLayout {
		width: 760px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1024px) {
	.widthLayout {
		width: 980px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1200px) {
	.widthLayout {
		width: 980px;
		margin: 0 auto;
	}
}

.width640 {
	width: 640px;
	margin: 0 auto;
}

#wrapper {
	width: 100%;
	padding: 117px 0 0;
}

/* paragrafo
===================================================== */
/* bold
===================================================== */
b {
	font-weight: normal;
}

/* italic
===================================================== */
i {
	font-style: normal;
}

/* allineamento testo
===================================================== */
.txtLeft {
	text-align: left;
}

.txtCenter {
	text-align: center;
}

.txtRight {
	text-align: right;
}

/*
* =====================================================
| MEDIA |
===================================================== */
/* | img | 
===================================================== */
.left-img img {
	float: left;
}

.right--img img {
	float: right;
}

.center-img {
	text-align: center;
}

.center-img img {
	margin: 0 auto;
}

.full-img img {
	width: 100%;
	height: auto;
}

/* main
===================================================== */
.main {
	line-height: 40px;
}

.main p b {
	font-family: "open_sanssemibold", Helvetica, Arial, sans-serif;
	color: #333333;
}

/* =====================================================
	| HEADER | ===================================================== */
.wpHeader {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 220;
	background-color: #CCCCCC;
	border-bottom: solid 1px #AAAAAA;
}

.header {
	position: relative;
	height: 90px;
}

.header .header--logo {
	position: absolute;
	top: 32px;
	left: 0px;
	width: 153px;
	height: 59px;
	text-indent: -9999px;
	background: transparent url(../img/logo.png) no-repeat 0px -1px;
}

/* =====================================================
| FOOTER |
===================================================== */
.wpFooter {
	width: 100%;
	background-color: #282828;
}

.wpFooter.absolute {
	position: absolute;
	bottom: 0;
	left: 0;
}

.footer {
	position: relative;
	height: 85px;
}

.footer .footer--credits {
	float: left;
}

.footer .footer--credits li {
	color: white;
	font: normal 14px/85px "open_sansregular", Helvetica, Arial, sans-serif;
}

/* =====================================================
| HEADLINGS |
===================================================== */
h2,.beta {
	font-size: 40px;
	font-family: Helvetica, Arial, sans-serif;
}

h2 b,.beta b {
	font-family: Helvetica, Arial, sans-serif;
}

h3,.gamma {
	font-size: 38px;
	font-family: Helvetica, Arial, sans-serif;
}

h3 b,.gamma b {
	font-family: Helvetica, Arial, sans-serif;
}

h4,.delta {
	font-size: 34px;
	font-family: Helvetica, Arial, sans-serif;
}

h4 b,.delta b {
	font-family: Helvetica, Arial, sans-serif;
}

h6,.zeta {
	font-size: 26px;
	font-family: Helvetica, Arial, sans-serif;
}

h6 b,.zeta b {
	font-family: Helvetica, Arial, sans-serif;
}

/* titolo intro
===================================================== */
.introTitle h1 {
	margin: 0 0 15px;
	line-height: 26px;
}

h1,.alpha {
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
}

h1 b,.alpha b {
	font-family: Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 480px) {
	.introTitle h1 {
		margin: 0 0 0px;
		line-height: 30px;
	}
	h1,.alpha {
		font-size: 26px;
		font-family: Helvetica, Arial, sans-serif;
	}
	h1 b,.alpha b {
		font-family: Helvetica, Arial, sans-serif;
	}
}

@media screen and (min-width: 1024px) {
	.introTitle h1 {
		margin: 0 0 15px;
		line-height: 54px;
	}
	h1,.alpha {
		font-size: 44px;
		font-family: Helvetica, Arial, sans-serif;
	}
	h1 b,.alpha b {
		font-family: Helvetica, Arial, sans-serif;
	}
}

.introTitle h2 {
	margin: 0 0 35px;
}

.introTitle h5 {
	line-height: 46px;
}

h5,.epsilon {
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
}

h5 b,.epsilon b {
	font-family: Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 1024px) {
	.introTitle h5 {
		line-height: 46px;
	}
	h5,.epsilon {
		font-size: 30px;
		font-family: Helvetica, Arial, sans-serif;
	}
	h5 b,.epsilon b {
		font-family: Helvetica, Arial, sans-serif;
	}
}

.introTitle h6 {
	line-height: 36px;
}

.introTitle a {
	text-decoration: none;
}

.introTitle a:hover {
	text-decoration: underline;
}

.introTitle.paddingBox {
	padding: 0;
}

@media screen and (min-width: 1024px) {
	.introTitle.paddingBox {
		padding: 42px 0;
	}
}

.introTitle .title--hidden {
	display: none;
}

/* titolo risultato
===================================================== */
/*.titleResults { text-align: center; }*/
.titleResults {
	text-align: left;
}

.titleResults header {
	display: inline-block;
	position: relative;
	padding: 0;
	text-align: left;
}

.titleResults header h4 {
	margin: 20px 0 0;
}

.titleResults header h5 {
	margin: 25px 10px 0;
}

.titleResults header.results--ok {
	padding: 0 0 0 50px;
}

@media screen and (min-width: 1024px) {
	.titleResults header.results--ok {
		padding: 0 0 0 105px;
	}
}

.titleResults header.results--ok .icon--ok {
	position: absolute;
	top: 6px;
	left: 4px;
}

.titleResults header.results--ok.activation--ok {
	padding: 15px 0 0 105px;
}

.titleResults header.results--error {
	padding: 0 0 0 50px;
}

@media screen and (min-width: 1024px) {
	.titleResults header.results--error {
		padding: 0 0 0 105px;
	}
}

.titleResults header.results--error .icon--error {
	position: absolute;
	top: 20px;
	left: 4px;
}

.titleResults a {
	text-decoration: none;
}

.titleResults a:hover {
	text-decoration: underline;
}

.titleResults p {
	color: #555555;
}

.titleResults p b {
	font-family: "open_sanssemibold", Helvetica, Arial, sans-serif;
	color: #333333;
}

.titleResults .helpBox {
	margin: 40px 0 0;
}

.titleResults header.results--mail .list--warnings {
	margin-top: 25px;
}

.titleResults header.results--mail .element--warning {
	padding: 20px;
	margin-bottom: 10px;
	background-color: #fff6cc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.titleResults .results--hidden {
	display: none;
}

/* =====================================================
| ICONS |
===================================================== */
/* icons 130x130 cerchio
===================================================== */
.icon--ok {
	display: block;
	width: 40px;
	height: 40px;
	background: transparent url(../img/alert_success_small.png) no-repeat
}

.icon--error {
	display: block;
	width: 40px;
	height: 40px;
	background: transparent url(../img/alert_error_small.png) no-repeat
}

@media screen and (min-width: 1024px) {
	.icon--ok {
		display: block;
		width: 100px;
		height: 100px;
		background: transparent url(../img/alert_success.png) no-repeat
	}
	.icon--error {
		display: block;
		width: 100px;
		height: 100px;
		background: transparent url(../img/alert_error.png) no-repeat
	}
}