@font-face {
	font-family: 'robotoregular';
	src: url('Roboto-Regular-webfont.eot');
	src: url('Roboto-Regular-webfont.eot?#iefix')
		format('embedded-opentype'), url('Roboto-Regular-webfont.woff')
		format('woff'), url('Roboto-Regular-webfont.ttf') format('truetype'),
		url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'robotoregular' !important;
}

.Off {
	display: none;
	visibility: hidden;
}

.On {
	display: block;
	visibility: visible;
}

.container {
	padding: 20px;
}

#ErrorBox {
	width: 100%;
	margin: 0;
	background-color: #F91010;
	text-align: center;
	font-weight: blod;
	color: white;
	padding: 5px;
}