/* =====================================================
    | ENI FONT |
   ===================================================== */

.eni-font{
    font-family: 'enitablightregular' !important;
    /*font-size: 150%;*/
}

.eni-font-small {
    font-family: 'enitablightregular' !important;
    /*font-size: 100%;*/
}

.eni-font-title {
    font-family: 'enitabboldregular' !important;
    /*font-size: 200%;*/
}

.eni-font-light{
    font-family: 'EniExpLightRegular' !important;
}

/* eni regular
   ===================================================== */
@font-face {
    font-family: 'EniExpRegRegular';
    src: url('../fonts/eniexpreg-webfont.eot');
    src: url('../fonts/eniexpreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eniexpreg-webfont.woff') format('woff'),
         url('../fonts/eniexpreg-webfont.ttf') format('truetype'),
         url('../fonts/eniexpreg-webfont.svg#EniExpRegRegular') format('svg');
    font-weight: normal !important;
    font-style: normal !important;

}

/* eni bold
   ===================================================== */
@font-face {
    font-family: 'EniExpBoldRegular';
    src: url('../fonts/eniexpbol-webfont.eot');
    src: url('../fonts/eniexpbol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eniexpbol-webfont.woff') format('woff'),
         url('../fonts/eniexpbol-webfont.ttf') format('truetype'),
         url('../fonts/eniexpbol-webfont.svg#EniExpBoldRegular') format('svg');
    font-weight: normal !important;
    font-style: normal !important;

}

/* eni light
   ===================================================== */
@font-face {
    font-family: 'EniExpLightRegular';
    src: url('../fonts/eniexplig-webfont.eot');
    src: url('../fonts/eniexplig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eniexplig-webfont.woff') format('woff'),
         url('../fonts/eniexplig-webfont.ttf') format('truetype'),
         url('../fonts/eniexplig-webfont.svg#EniExpLightRegular') format('svg');
    font-weight: normal !important;
    font-style: normal !important;

}


@font-face {
    font-family: 'enitabboldregular';
    src: url('../fonts/enitabbol-webfont.eot');
    src: url('../fonts/enitabbol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/enitabbol-webfont.woff') format('woff'),
         url('../fonts/enitabbol-webfont.ttf') format('truetype'),
         url('../fonts/enitabbol-webfont.svg#enitabboldregular') format('svg');
    font-weight: normal !important;
    font-style: normal !important;

}




@font-face {
    font-family: 'enitablightregular';
    src: url('../fonts/enitablig-webfont.eot');
    src: url('../fonts/enitablig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/enitablig-webfont.woff') format('woff'),
         url('../fonts/enitablig-webfont.ttf') format('truetype'),
         url('../fonts/enitablig-webfont.svg#enitablightregular') format('svg');
    font-weight: normal !important;
    font-style: normal !important;

}




@font-face {
    font-family: 'enitabregregular';
    src: url('../fonts/enitabreg-webfont.eot');
    src: url('../fonts/enitabreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/enitabreg-webfont.woff') format('woff'),
         url('../fonts/enitabreg-webfont.ttf') format('truetype'),
         url('../fonts/enitabreg-webfont.svg#enitabregregular') format('svg');
    font-weight: normal !important;
    font-style: normal !important;

}