/* =====================================================
    | ENI FONT |
   ===================================================== */


/* eni regular
   ===================================================== */
@font-face {
    font-family: 'EniExpRegRegular';
    src: url('eniexpreg-webfont.eot');
    src: url('eniexpreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('eniexpreg-webfont.woff') format('woff'),
         url('eniexpreg-webfont.ttf') format('truetype'),
         url('eniexpreg-webfont.svg#EniExpRegRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* eni bold
   ===================================================== */
@font-face {
    font-family: 'EniExpBoldRegular';
    src: url('eniexpbol-webfont.eot');
    src: url('eniexpbol-webfont.eot?#iefix') format('embedded-opentype'),
         url('eniexpbol-webfont.woff') format('woff'),
         url('eniexpbol-webfont.ttf') format('truetype'),
         url('eniexpbol-webfont.svg#EniExpBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* eni light
   ===================================================== */
@font-face {
    font-family: 'EniExpLightRegular';
    src: url('eniexplig-webfont.eot');
    src: url('eniexplig-webfont.eot?#iefix') format('embedded-opentype'),
         url('eniexplig-webfont.woff') format('woff'),
         url('eniexplig-webfont.ttf') format('truetype'),
         url('eniexplig-webfont.svg#EniExpLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

