@font-face {
	font-family: 'enitablightregular';
	src: url('../fonts/enitabreg-webfont.eot');
	src: url('../fonts/enitabreg-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/enitabreg-webfont.woff2')
		format('woff2'), url('../fonts/enitabreg-webfont.woff') format('woff'),
		url('../fonts/enitabreg-webfont.ttf') format('truetype'),
		url('../fonts/enitabreg-webfont.svg#enitabregregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
		url('../fonts/opensans-regular-webfont.woff') format('woff'),
		url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
		url('../fonts/opensans-regular-webfont.svg#open_sansregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}
/*
.btn-primary:not (.btn-link ):not (.btn-flat ){
	background-color: #2d2d28 !important;
	color: rgba(255, 255, 255, .84) !important;
	text-transform: capitalize;
}
*/
.btn-primary {
	background-color: #2d2d28 !important;
	color: rgba(255, 255, 255, .84) !important;
	text-transform: none!important;
}

.form-horizontal .form-group {
	margin-right: 0px;
	margin-left: 0px;
}

body {
	background-color: #FFFFFF !important;
	font-family: 'open_sansregular' !important;
	font-size: 150%;
}

.error {
	color: #c6061d;
}

.btn {
	padding: 16px 30px !important;
}

.container {
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.eni-font {
	font-family: 'enitablightregular' !important;
	font-size: 150%;
}

.eni-font-small {
	font-family: 'enitablightregular' !important;
	font-size: 80%;
}

.eni-font-title {
	font-family: 'enitablightregular' !important;
	font-size: 200%;
}

.form-control {
	background-image: linear-gradient(#FEBF2C, #FEBF2C),
		linear-gradient(#2d2d28, #2d2d28) !important;
}

#loading-container {
	width: 100%;
	text-align: center;
	position: relative;
	top: 100px;
}