@media (max-width: 370px) {
	.idx span{
		padding:6px 10px !important;
		font-size:16px !important;
	}
}
body, html{
	margin:0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3{
	font-family: 'EniExpBoldRegular';
	color:#333;
	line-height: 150%;
	font-size: 25px;
	font-size:5vw;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
p, a, span {
	font-family: 'EniExpLightRegular';
	font-size:15px;
	/*font-size:3.8vw;*/
	line-height: 150%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
p{	
	color:#333;
	padding: 0 2.5px;
}
a{
	color:#ffcd00;
	text-decoration: none;
}
small{
	font-size: 11px;
	font-size:3vw;
	color: #333;
	line-height: 150%;
	padding: 5px 0 15px 0;
	clear: both;
	display: block;
}
/*WRAPPER PRINCIPALE*/
#EniSurveyContent{
	margin:5% auto;
	position: relative;
	max-width:95%;
}
#EniSurveyContent .star-ratings-wrapper{
	max-width:800px;
}
#star-content{
	padding:20px 0;
}
header{
	background-color:#f8f8f8;
	padding:8% 0;
	text-align: center;
}
header h1, header p{
	margin:0 auto;
}
#innercontent{
	padding-bottom:60px;
}
.box{
	display: inline-block;
	clear: both;
	width:100%;
	margin-top:10px;
}
.box p{
	max-width:90%;
	margin-left:5%;
	margin-right:5%;
}
.idx{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: absolute;
}
.idx span{
	color:#fff;
	width:30px;
	height:30px;
	line-height:30px;
	background-color:#4a4a4a;
	border-radius:2.5px;
	padding:10px 15px;
	position: relative;
	left:-5px;
	top:-10px;
	font-size:18px;
}
.box:first-child{
	margin-top:0;
}
.box .title{
	background-color:#f8f8f8;
	padding:2.5% 0;
	text-align:center;

	/*max-height:70px;*/
	overflow: hidden;
}
.box .title #bullet{
	font-size: 40px;
	font-size: 10vw;
	float: left;
	margin-right: 2.5%;
	vertical-align: super;
	line-height: 100%;
	margin-top: -1.5%;
	color: #333;
}
.br-theme-fontawesome-stars .br-widget{
	height:unset !important;
	display: inline-block;
	position: relative;
	width: 100%;
}
.br-wrapper.br-theme-fontawesome-stars{
	display: inline-block;
	width:100%;
	position: relative;
}
.br-theme-fontawesome-stars .br-widget a{
	margin:1%;
	margin-top:2%;
	padding:0.25%;
	background-color:#f8f8f8;
	border-radius:2.5px;
	font-size:5vw;
	line-height:200%;
	text-align:center;

	display: inline-block;
	width: 18%;

	max-height:70px;
	line-height: 70px;
}
.br-theme-fontawesome-stars .br-widget a{
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.br-theme-fontawesome-stars .br-widget a:first-child{
	margin-left:0 !important;
}
.br-theme-fontawesome-stars .br-widget a:last-child{
	margin-right:0 !important;
}

.br-theme-fontawesome-stars .br-widget a.br-selected{
	background-color:#ffcd00;
}
.br-theme-fontawesome-stars .br-widget a:after{
	color:#fff !important;
}
footer{
	width:100%;
	margin:30px auto;
	text-align: center;
}
button#output_uno, #output_due a, #skip{
	text-align: center;
	/*padding:5% 20%;*/
	border:none;
	border-radius:2.5px;
	box-shadow:none;
	color:#fff;
	font-size:18px;
	/*font-size:3.8vw;*/
	width:100%;
	font-family: 'EniExpBoldRegular';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;

	line-height:100%;
}
button#output_uno{
	height:70px;
	background-color: #f1f1f1;
    background-color: rgb(45, 45, 40);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#output_due{
	background-color:transparent;
	display: block;
	width:90%;
	margin:0 5% 20px 5%;
}
#output_due a{
	display: inline-block;
	width: auto;
	margin: 0 auto;
	line-height: 200%;
	width: 50%;
	margin-bottom:20px;
}


#skip{
	background-color: #fff;
	color: #2d2d28;
	margin: 0 auto 10px auto;
	padding: 0;
	width: auto;
	border: 1px solid #2d2d28;
}
#skip a{
	background-color: #fff !important;
    color: #2d2d28 !important;
    min-width: 100%;
    position: relative;
    display: inline-block;
    line-height: 70px !important;
	font-family: 'EniExpBoldRegular';
}

button#output_uno:focus,
#output_due a:focus,
button#output_uno:active
#output_due a:active{
	background-color:#ffcd00;
	color:#fff !important;
	transition:all 0.5s;
	cursor:pointer;


	background-color: #2d2d28; color: #fff; cursor: pointer;
}
button:active a, button:active a:hover, button:active a:focus{
	color:#fff;
}
#submitted{
	overflow:hidden !important;
	background-color: #fff;
	background-image: url("../img/img_rating.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70% auto;
	height: 100%;
	right:0;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000 !important;
	text-align: center;

	margin:0 auto;
	max-width:800px;

	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#submitted-ko{

	overflow:hidden !important;
	height: 100%;
	background: #fff;
	right:0;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000 !important;
	text-align: center;

	margin:0 auto;
	max-width:800px;

	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;

	padding-top:30%;

}
#submitted .wrapper, #submitted-ko .wrapper{
	margin:0 10%;
}
#submitted-ko .wrapper{
	background-image: url("../img/ic_alert_error.png");
	background-color: #fff;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 30% auto;
	background: #fff;
	border-radius:2.5px;
	width:80%;
	margin:0 10%;
}
#submitted-ko .wrapper figure.result-content-figure img{
	width:120px;
	margin-top:25%;
}
#submitted .thanks{
	margin-top:25%;
}
#submitted-ko .wrapper footer{
	margin: 0 auto;
    position: absolute;
    bottom: 100;
    left: 0;
}
#submitted h1, #submitted p{
	text-align: center;
	margin:0 auto;
}

/*RESET PER SCHERMI PIU GRANDI DI 1200px */
@media(min-width: 680px){
	.star-ratings-wrapper.header, .star-ratings-wrapper.content{
		margin:0 auto;
		width:100%;
		max-width:680px;
	}
	h1, h2, h3{
		font-size: 25px;
	}
	p, a, span {
		font-size:15px;
	}
	small {
		font-size: 11px;
	}
	header{
		padding: 30px 0;
	}
	.br-theme-fontawesome-stars .br-widget a{
		font-size:20px;
	}
	.stars .title #bullet{
		font-size: 40px;
		line-height: 100%;
		margin-top: -1.5%;
	}
	/*button#output_uno, #output_due a {
		font-size: 20px;
		padding:15px 30px;
		max-width:200px;
		margin:0  auto;
		}*/
		#submitted .thanks{
			margin-top:100px;
		}
		#submitted{
			overflow:hidden !important;
			background-size: 30% auto;
		}
	}