<html lang="it">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <meta name="HandheldFriendly" content="true" />
  <title>Deposito carta di credito</title>
  <link
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
  rel="stylesheet">


  <link href="css/style.css"
  rel="stylesheet">
  <link href="css/eni_font.css"
  rel="stylesheet">
  <link href="css/eni_tab_font.css"
  rel="stylesheet">

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="js/jquery.maskedinput.js"></script>
  <script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script
  src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>


  <!-- MODIFICATO -->
  <script type="text/javascript" src="https://testecomm.sella.it/Pagam/JavaScript/js_GestPay.js"></script>
  <!--script type="text/javascript" src="https://ecomm.sella.it/Pagam/JavaScript/js_GestPay.js"></script-->

  <!--<script type="text/javascript" src="https://<%=urlPrefix%>ecomm.sella.it/Pagam/JavaScript/js_GestPay.js"></script>-->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <script type="text/javascript">


//valorizzati solo dopo il redirect del 3dSecure
var shopLogin = '';
var encString = '';
var PARes = '';
var transKey = '';
var mailAddress = '';

//declaring local object to handle asynchronous responses from the payment page 
var LocalObj = {}
//setting up a function to handle asynchronous security check result after creating the iFrame and loading the payment page
LocalObj.PaymentPageLoad = function(Result){
  //check for errors, if the Result.ErroCode is 10 the iFrame is created correctly and the security check are passed 
  


  if(Result == null){
    onDepositError("unknown error");
  }

  if(Result.ErrorCode == 10 ){
    //iFrame created and and the security check passed 
    //now we can show the form with the credit card fields
    //Handle 3D authentication 2nd call
    

    //Parametri provenienti dalla post  
    //invio dati di pagamento
    if (PARes.length > 0){
      showLoading(true);
      GestPay.SendPayment({PARes:PARes,TransKey:transKey},LocalObj.PaymentCallBack);  
    }else{
      //Visualizzazione della form per il caricamnto dei dati carta
      showLoading(false);
    }

  }else{
    //An error has occurred, check the Result.ErrorCode and Result.ErrorDescription 
    //place error handle code HERE
    
    onDepositError('Error:' + Result.ErrorCode + ' ' + Result.ErrorDescription);

  }             
}
//setting up a function to handle payment result
LocalObj.PaymentCallBack = function (Result){

  showLoading(false);

  if(Result == null){
    onDepositError("unknown error");
  }

  if(Result.ErrorCode == 0 ){
    //Transaction correctly processed
    //Decrypt the string to read the Transaction Result
    onDepositSuccess();
  }else{
    //An error has occurred
    //check for 3D authentication required
    if(Result.ErrorCode == 8006){
      //The credit card is enrolled we must send the card holder to the authentication page on the issuer website
      //Get the TransKey, IMPORTANT! this value must be stored for further use
      var transKey = Result.TransKey
      //put the TransKey in a cookie for later use, the cookies will expire in 20 minutes     
      var date = new Date();
      date.setTime(date.getTime()+(1200000));
      document.cookie = 'transKey='+transKey.toString()+'; expires='+ date.toGMTString() +' ; path=/';
      document.cookie = 'encString='+encString+'; expires='+ date.toGMTString() +' ; path=/';  
      document.cookie = 'shopLogin='+shopLogin+'; expires='+ date.toGMTString() +' ; path=/';  
      document.cookie = 'mailAddress='+mailAddress+'; expires='+ date.toGMTString() +' ; path=/';  

      //Get the VBVRisp encrypted string required to access the issuer authentication page
      var VBVRisp = Result.VBVRisp
      //redirect the user to the issuer authentication page
      var a = shopLogin; 
      var b = VBVRisp;
      var c= document.location.href; //this is the landing page where the user will be redirected after the issuer authentication must be ABSOLUTE
      //var AuthUrl = 'https://testecomm.sella.it/pagam/pagam3d.aspx'; //TESTCODES
      var AuthUrl = 'https://<%=urlPrefix%>ecomm.sella.it/pagam/pagam3d.aspx'; //PRODUCTION
      document.location.replace(AuthUrl+'?a='+a+'&b='+b+'&c='+c);
    }else{

     onDepositError('Error:' + Result.ErrorCode +' - ' + Result.ErrorDescription);

   }
 }
}


function sendPaymentData(){

 try{
  showLoading(true);
      //primo invio dati di pagamento. Validazione ed invio
      
      //OLD
       // EXPMM : $('#EXPMMYY').val().split("/")[0],
       // EXPYY : $('#EXPMMYY').val().split("/")[1],
       GestPay.SendPayment ({
         CC :    $('#CC').val(),
         EXPMM : $('#EXPMM').val(),
         EXPYY : $('#EXPYY').val(),
         CVV2:   $('#CVV2').val(),
         Name:   $('#Name').val(),
         Email:  $('#Email').val()
       },LocalObj.PaymentCallBack);

     }catch(err) {

      onDepositError("Errore deposito carta")
      showLoading(false);

    }


  }

  function initPaymentPage(_shopLogin,_encString,_mailAddress){

    shopLogin = _shopLogin;
    encString = _encString;
    mailAddress = _mailAddress;

    $('#Email').val(_mailAddress);
  //Browser enabled
  //Creating the iFrame
  GestPay.CreatePaymentPage(shopLogin,encString,LocalObj.PaymentPageLoad);
  showLoading(true);
}

function onDepositSuccess(){
  try{
    Android.onDepositSuccess();
  }catch(err){
    //alert("DEPOSIT SUCCESS");
    window.location = "depositSuccess:";
  }

}

function onDepositError(message){
 try{
  Android.onDepositError(message);
}catch(err){
 window.location = "depositError:" + message;
    //alert("DEPOSIT ERROR " + message);
  }
}

function showLoading(show){

  if(show){
    $('#loading-container').show();
    $('#form-container').hide();
  }else{
    $('#loading-container').hide();
    $('#form-container').show();
  }

  try{
    Android.showLoading(show);
  }catch(err){
   window.location = "showLoading:" + show;
 }


}


function onRequestCardDeposit(){

 if($("#CCForm").valid()){

  sendPaymentData();
}
return false;

}

function showError(value){
  alert(value);
}

$( document ).ready(function() {

  //TODO DA RIMUOVERE
  BrowserEnabled = true;
  if(BrowserEnabled){
    //Handle after 3D authentication second call
    if(PARes.length > 0){
      initPaymentPage(shopLogin,encString,mailAddress);
    } 
  }else{
  //Browser not supported
  //Place error handle code here
  showError('Error: Browser not supported');
  
}
    // EXPMMYY: {
    //       required: true,
    //       minlength: 5,
    //       maxlength: 5
    //     }
    $('#CCForm').validate({ // initialize the plugin
      rules: {
        CC: {
          required: true,
          maxlength: 19,
        },
        EXPMM:{
          required: true,
          minlength: 2,
          maxlength: 2
        },
        EXPYY:{
          required: true,
          minlength: 2,
          maxlength: 2
        },
        CVV2: {
          required: true,
          maxlength: 4,
          minlength: 2
        },
        Name: {
          required: true
        }
      },

      messages: {
        CC: "Numero carta non valido",
        EXPMMYY: "Data di scadenza non valida",
        EXPMM: "Data di scadenza non valida",
        EXPYY: "Data di scadenza non valida",
        CVV2: "Codice di sicurezza non valido",
        Name: "Nome titolare carta non valido",
      },
      
      submitHandler: function(form) {
       //form.submit();
       return true;
     }
   });

  });




</script>

</head>
<body class="bw">
	<div class="container">
		<!-- Credit card form -->
		<div id="loading-container">
			<h1 class="eni-font-title">Attendere prego...</h1>
			<p class="eni-font-title">Deposito della carta in corso</p>
		</div>
		<div id="form-container">

			<!-- <h1 class="eni-font-title">Deposito carta</h1>
			<br /> -->

			<form name="CCForm" method="post" id="CCForm" class="form-horizontal"
      OnSubmit="return onRequestCardDeposit();">
      <div id="Fields">

       <div class="formWrapper">
        <div id="CCField" class="form-group">
        <p>Numero carta</p> <input class="form-control eni-font"
          type="tel" name="CC" id="CC" autocomplete="off" maxlength="19" />
        </div>

        <div id="NameField" class="form-group">
          <p for="Name">Nome e cognome titolare</p> <input
          class="eni-font form-control" type="text" name="Name" id="Name" autocomplete="off">
          <p class="desc eni-font-small">Così come appare sulla carta</p>
        </div>
      </div>

      <div class="formWrapper">
       <div id="CCField" class="form-group">
        <p>Scadenza</p>
        <div class="multiple">
         <input class="form-control eni-font half" type="tel" maxlenght="2" 
         name="EXPMM" id="EXPMM" autocomplete="off" placeholder="mm" />
         <span>/</span>
         <input class="form-control eni-font half" type="tel" maxlenght="2"
         name="EXPYY" id="EXPYY" autocomplete="off"  placeholder="aa"/>
            <!-- <input class="form-control eni-font" type="tel" name="EXPMMYY"
            placeholder="mm/aa" id="EXPMMYY" autocomplete="off" /> -->
          </div>
          <p class="desc eni-font-small">Inserire solo il mese e l'anno nel
           formato mm/aa</p>
         </div>
       </div>

       <div class="formWrapper">
         <div id="CCVField" class="form-group">
          <p>Codice di sicurezza</p> <input
          class="eni-font form-control" type="password" name="CVV2"
          id="CVV2" maxlength="4" autocomplete="off"/>
          <p class="desc eni-font-small">Inserire il valore riportato sul
           retro della carta</p>
         </div>
       </div>

       <div id="EmailField" class="form-group">
        <input class="form-control" type="hidden" name="Email" id="Email"
        value="" autocomplete="off">
      </div>
    </div>

    <input id="saveCardButton" type="submit" class="btn btn-primary btn-block eni-font-small"
    value="Upload" id="submit" />

  </form>
</div>
</div>


</body>

<script type="text/javascript"> 
  $(document).ready(function() {

    // $("#EXPMMYY").mask("99/99",{placeholder:"mm/aa"});
    // $("#EXPMM").mask("99",{placeholder:"mm"});
    // $("#EXPYY").mask("99",{placeholder:"aa"});

    $("#EXPMM").keyup(function(){
      var val_1 = $(this).val();
      if (val_1.length == 2)  {
        $('#EXPYY').focus();
      }
    });

    $("#EXPYY").keyup(function(){
      var val_2 = $(this).val();
      var key = event.keyCode || event.charCode;
      if (key == 8 && val_2.length == 0 || key == 46 && val_2.length == 0)  {
        $('#EXPMM').focus();
      }
      if(val_2.length==2){
        $(this).blur();
      }
    });
    
  });

</script>

</html>
