/* =============================================
** START CSS **
================================================
*
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; background: transparent; border: 0; outline: 0; font-size: 100%; font-weight: inherit; vertical-align: baseline; }

html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, main, nav, section { display: block; }

ul, ol { list-style: none; list-style-image: none; }

blockquote, q { quotes: none; }

/*blockquote { margin: 1em 40px; } decommentare se si vuole margine */
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

b, strong { font-family: 'EniExpBoldRegular'; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

dfn { font-style: italic; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

tt, pre, code, kbd, samp { font-family: monospace, serif; _font-family: "courier new", monospace; /*font-size: 1em;*/ }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

hr { display: block; height: 1px; margin: 1em 0; padding: 0; border: 0; border-top: 1px solid #cccccc; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

[hidden] { display: none; }

sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

html { font-family: sans-serif; color: #222; position: relative; min-height: 100%; }

button, input, select, textarea { font-family: sans-serif; color: #222; }

small { font-size: 85%; }

::-moz-selection { background: #e5e5e5; /* color: #333; */ text-shadow: none; }

::selection { background: #e5e5e5; /* color: #333; */ text-shadow: none; }

.no-vertical-scroll { overflow-y: hidden !important; position: fixed;}

/* =| Images |=
============================================================================= */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

/* =| Links |=
========================================================================== */
a { margin: 0; padding: 0; background: transparent; color: #464646; font-size: 100%; vertical-align: baseline; }

a.disabled { pointer-events: none; cursor: default; opacity: 0.4;}

a:hover { color: #06e; }

a:hover, a:active, a:focus { outline: 0; }

/* =| Form |=
========================================================================== */
label { cursor: pointer; }

legend { *margin-left: -7px; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:invalid, textarea:invalid { background-color: #f0dddd; }

::-webkit-input-placeholder { 
    color:    #eceff1;
}
:-moz-placeholder { 
   color:    #eceff1;
   opacity:  1;
}
::-moz-placeholder { 
   color:    #eceff1;
   opacity:  1;
}
:-ms-input-placeholder { 
   color:    #eceff1;
}

/* Tables
============================================================================= */
table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

caption, th, td { text-align: left; font-weight: normal; }

/* ==========================================================================
*  	| end RESET CSS
* ==========================================================================*/ 


/* =====================================================
| BACK TO TOP |
===================================================== */
.backToTop { position: fixed; bottom: 100px; z-index: 100; width: 55px; height: 55px; background-color: #333333; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; opacity: .15; filter: alpha(opacity=15); -khtml-opacity: .15; -moz-opacity: .15; }
.backToTop .icon { position: absolute; top: 50%; left: 50%; width: 31px; height: 14px; margin: -7px 0 0 -16px; background: transparent url(../img/back_to_top.png) no-repeat -0px -0px; }
.backToTop:hover { opacity: .30; filter: alpha(opacity=30); -khtml-opacity: .30; -moz-opacity: .30; }


.no-margin { margin: 0; }
.no-padding { padding: 0; }
.text-center { text-align: center; }
.popup_link_message {
    text-decoration: underline;
}
.popup_link_message:hover {
    color: #333333;
    text-decoration: underline;
}

/* =====================================================
| HEADLINGS |
===================================================== */
h1, .alpha { font-size: 44px; font-family: "EniExpRegRegular", Helvetica, Arial, sans-serif; }
h1 b, .alpha b { font-family: "EniExpBoldRegular", Helvetica, Arial, sans-serif; }

h2, .beta { font-size: 40px; font-family: "enitabregregular", Helvetica, Arial, sans-serif; }
h2 b, .beta b { font-family: "enitabboldregular", Helvetica, Arial, sans-serif; }

h3, .gamma { font-size: 38px; font-family: "EniExpRegRegular", Helvetica, Arial, sans-serif; }
h3 b, .gamma b { font-family: "enitabboldregular", Helvetica, Arial, sans-serif; }

h4, .delta { font-size: 34px; font-family: "enitabregregular", Helvetica, Arial, sans-serif; }
h4 b, .delta b { font-family: "enitabboldregular", Helvetica, Arial, sans-serif; }

h5, .epsilon { font-size: 30px; font-family: "enitabregregular", Helvetica, Arial, sans-serif; }
h5 b, .epsilon b { font-family: "enitabboldregular", Helvetica, Arial, sans-serif; }

h6, .zeta { font-size: 26px; font-family: "enitabregregular", Helvetica, Arial, sans-serif; }
h6 b, .zeta b { font-family: "enitabboldregular", Helvetica, Arial, sans-serif; }

.titleSmall { font-size: 28px; font-family: "enitabregregular", Helvetica, Arial, sans-serif; }
.titleSmall b { font-family: "enitabboldregular", Helvetica, Arial, sans-serif; }

.titleSmall--small { font-size: 20px; line-height: 30px; }

/* | sottotitolo | */
.subheading--partner { font-size: 39px; font-family: "enitabregregular", Helvetica, Arial, sans-serif; }

.subheading { font-size: 24px; font-family: "enitabregregular", Helvetica, Arial, sans-serif; }
.subheading b { font-family: "enitabboldregular", Helvetica, Arial, sans-serif; }

.subheading-2 { font-size: 22px; line-height: 30px; font-family: "open_sansregular", Helvetica, Arial, sans-serif; }
.subheading-2 b { font-family: "open_sanssemibold", Helvetica, Arial, sans-serif; }

.titleExtra { font-size: 16px; }

.titleExtraBold { font-size: 16px; font-family: "open_sanssemibold", Helvetica, Arial, sans-serif; }

.grayLink { color: #555555; font-family: 'EniExpBoldRegular'; }
.grayLink:hover { color: #555555; font-weight: bold; }

.lightGrayLink { color: #cccccc; }
.lightGrayLink:link { color: #cccccc; }
.lightGrayLink:visited { color: #cccccc; }
.lightGrayLink:hover { color: #cccccc; }
.lightGrayLink:active { color: #cccccc; }

.borderTopGray { border-top: solid 1px #e7e7e7; }
.borderBottomGray { border-bottom: solid 1px #e7e7e7; }

.page-top { margin-top: 22px; }
.page-title { line-height: 48px; font-size: 36px; font-family: "EniExpRegRegular", Helvetica, Arial, sans-serif; text-align: center; }
.page-subtitle { line-height: 42px; font-size: 20px; letter-spacing: 0.5px; font-family: "EniExpRegRegular", Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif; text-align: center; }
.page-subtitle-min { line-height: 32px; font-size: 21px; letter-spacing: 0.5px; margin-left: 10px; font-family: "EniExpRegRegular", Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif; text-align: center; }
.margin-info-img { margin-top: 30px; }

.welcome_visore {
    background-image: url(../img/promo/welcome/bg_visore_welcome.png);
    height: 480px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
}
    
/* ============================================================
/* INIZIO DELLA GESTIONE RESPONSIVE DELLA STRUTTURA DEL SITO  *
=============================================================*/

@media (min-width:1200px){
    .container { /*width: 100%;*/ padding: 0px }
    .padding-bottom-footer { padding-bottom: 400px }
    .page-top { margin-top: 50px; }
    
    /*#div-login-form {margin-top: 50px; }*/
    
    .landing_visore {
        background-image: url(../img/promo/landing/bg_visore_landing.png);
        height: 480px;
        width: 100%;
        background-size: cover;
        background-position: 50% 50%;
    }
    
    .visore-promo-welcome {
        width: 980px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .visore-promo-landing {
        width: 980px;
        margin-top: 100px;
        margin-bottom: 0px;
    }
    
    .landing_title {
        font-family: 'EniExpBoldRegular';
        font-size: 45px;
    }
    
    .landing_subtitle {
        color: #c11e43;
        font-family: 'EniExpBoldRegular';
        font-size: 45px;
    }
    
    .landing_text {
        font-family: 'EniExpRegRegular';
        font-size: 27px;
        margin: 40px 0;
    }
    
    .landing_note_title {
        font-family: 'EniExpBoldRegular';
        font-size: 24px;
        margin-top: 40px;
    }
    
    .landing_note {
        font-family: 'EniExpRegRegular';
        font-size: 22px;
        margin-top: 20px;
        line-height: 1.2;
    }

}

@media (min-width: 980px) and (max-width: 1199.9px) {
    .container { width: 100%; padding: 0px }
    
    section.wp-footer { width: 1200px !important; }
    
    .step_active_title {margin-top: 10px;}
    .step_disabled_title {margin-top: 10px;}
    
    .padding-bottom-footer { padding-bottom: 400px }
    .page-top { margin-top: 50px; }
    
    .visore-promo-welcome {
        width: 70%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .visore-promo-landing {
        width: 70%;
        margin-top: 100px;
        margin-bottom: 0px;
    }
    
    .landing_title {
        font-family: 'EniExpBoldRegular';
        font-size: 45px;
    }
    
    .landing_subtitle {
        color: #c11e43;
        font-family: 'EniExpBoldRegular';
        font-size: 35px;
    }
    
    .landing_text {
        font-family: 'EniExpRegRegular';
        font-size: 27px;
        margin: 40px 0;
    }
    
    .landing_note_title {
        font-family: 'EniExpBoldRegular';
        font-size: 22px;
        margin-top: 40px;
    }
    
    .landing_note {
        font-family: 'EniExpRegRegular';
        font-size: 20px;
        margin-top: 20px;
        line-height: 1.2;
    }
    
}

@media (min-width: 600px) and (max-width: 979.9px) {
    .container { 
        width: 100%;
        padding-left: 0px; 
        padding-right: 0px;
        margin: auto;
    }
    
    .wp-content {margin-bottom: 85px;}
    
    .wp-content.info-page { margin-top: 10%; max-width: 979px; margin-left: auto; margin-right: auto; margin-bottom: 100px }
    
    /* home banner */
    .home-banner {width:100% !important; margin-top: 97px;}
    .home-banner .text-banner {width: 600px; margin-top: 90px; margin-left: 5% !important; position: absolute; }
    .home-banner .text-banner .title { font-size: 50px; width: 50% !important; font-family: "enitabregregular", Helvetica, Arial, sans-serif; }
    .home-banner .text-banner .subtitle { font-size: 19px; width: 50% !important; line-height: 28px; margin-top: 11px; font-family: "enitabregregular", Helvetica, Arial, sans-serif; }
    .home-banner .banner-figure { text-align: center; margin-left: -250px; margin-top: 30px; overflow-x: hidden;}
    
    /* home after banner */
    /*.home-content .margin-row { margin-left: auto; margin-right: auto; width: 215px !important; }*/
    /*.home-content .margin-row .col-md-3:not(:last-child) { margin-bottom: 65px; }*/
    .home-content .margin-row { margin-left: 10%; margin-right: 10%; width: 80% !important; text-align: center;}
    .home-content .margin-row .col-sm-6 {
        /*width: 40%;*/ 
        /*float:left;*/ 
        margin-top: 10%;
    }
    
    .nav-welcome {padding-bottom: 50px !important;}
    
    /* button iscrizione */
    .toolbar .btn-signup.active { margin-left: 10px; margin-right: 16px; color: #333333!important; width: 116px; background-color: #FFFFFF!important; border-color: #333333; border-radius: 2px!important; webkit-box-shadow: initial; box-shadow: initial; }

    /* form buttons */
    /*.btn-group-justified{ width: auto; margin: auto;}*/
    
    /* form di login */
    /* #div-login-form {margin: 25% 10% 0% 10%;} */
    /*#div-login-form {margin: 50px 10% 0 10%;}*/
    #div-recovery-password-form {margin: 150px 10% 0 10%;}
    #div-login-form .form-buttons{width: 40%; margin-left: auto !important; margin-right: auto !important;}
    /*#div-login-form .btn-signup.active {margin-left: 10px !important;}*/
    
    /* come funziona page*/
    .info-section {margin-top: 20px !important;;}
    .info-section img {margin: auto;}
    
    /* faq content */
    .faq_content {margin: 10% !important;}
    .questions{ width: 100% !important;}
    
    /* pagina come funziona */
    .info-header {margin-top: 60px;}
    
    /* intro signup*/
    /*.page-top { margin-top: 150px;}*/
    .intro-action {width: 100% !important;}
    .intro-images {width: 100% !important; height: auto !important;}
    .intro-images img {width: 90%; margin: auto;}
    .intro-images .left-image {width: 50% !important;}
    .intro-images .right-image {width: 50% !important;}
    .intro_text_section {float: left;}
    
    /* signup */
    .stepbar-signup {margin: 80px 15px 100px 15px;}
    .step-figure {width: 100% !important; margin-left: 20px !important;}
    .step-section {margin-top: 0px !important;}
    .step_active_title {margin-top: 10px;}
    .step_disabled_title {margin-top: 10px;}
    .widthLayout { padding: 20px; }
    
    /* profile page */
    .content-profile-page { padding: 10%;}
    
    /* security page */
    .content-security-page { padding: 10%;}
    
    /* payment page */
    .content-payment-page { padding: 10%;}
    
    /* history page */
    .content-history-page { padding: 2%;}
    
    /* check card page */
    /*#div_check_amount_form {padding: 5%;}*/
    
    /* insert pin page */
    #div_insert_pin_form { margin: 110px 50px 0px 50px; }
    
    /* loyalty card page */
    .content-loyalty-page { padding: 10%;}
        
    /* insert payment method page */
    /*#div_insert_payment_method_form { margin: 120px 15px 0px 15px;}*/
    
    #div_error_insert_payment_card {padding: 80px;}
        
    /* barra di navigazione collapsed */
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
	margin-top: 10px;
        margin-bottom: 10px;
    }
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
    
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
        color: #777;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #999;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, 
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
        background-color: transparent;
        background-image:none;
    }
    
    /* barra logo */
    .toolbar .toolbar-logo { position: relative; top: 1%; left: 2%; width: 187px; height: 97px; text-indent: -9999px; background: transparent url(../img/logo.png) no-repeat 0px -1px; }
    .toolbar { background-color: #FFFFFF;}
    .toolbar a.navbar-brand {
        margin-left: 0;
        width: 187px;
        height: 97px;
    }
    
    .navbar-toggle .icon-bar {
        display: block;
        width: 40px;
        height: 5px;
        border-radius: 1px;
        margin: 10px;
    }
    
    /* navbar button */
    .navbar-default .navbar-toggle { border: none; width: 80px; height: 57px; margin-top: 20px; margin-bottom: 20px; padding-top: 0px; padding-bottom: 0px;}
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: #000000; height: 97px; margin-top: 0px; margin-bottom: 0px; padding-top: 20px; padding-bottom: 20px;}
    .navbar-collapse {background-color: #000000; border: none;}
    .navbar-toggle {border: 2px solid transparent; border-radius: 0px !important; margin-right: 0px;}
    
    .navbar-right .btn-login.active {float: left; width: 45% !important; margin-top: 20px; margin-left: 4% !important; border: 1px solid #F7F7F7;}
    .navbar-right .btn-signup.active { float: left; width: 45% !important; margin-top: 20px !important; margin-left: 20px !important; background-color: #f7f7f7 !important; color: #000000 !important;}
    .navbar-right .btn-signup {background-color: #f7f7f7 !important; color: #000000 !important;}
    
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse { max-height: 100%;}
    
    .navbar {border-radius: 0px !important;}
   
    /* footer bar button */
    .wp-footer button {display: none;}
    section.wp-footer { width: 100%; bottom: 0; position: absolute;}
    
    /* confirm popup */
    .div_confirm_popup {width: 100% !important;}
    
    .row {
        margin: 0px 30px;
    }
    
    .visore-promo-welcome {
        margin-top: 30px;
        width: 70%;
        max-width: 630px;
        vertical-align: middle;
        margin-bottom: 30px;
    }
    
    .visore-promo-landing {
        margin-top: 30px;
        width: 70%;
        max-width: 630px;
        vertical-align: middle;
        margin-bottom: 0px;
    }
    
    .landing_visore {
        background-image: url(../img/promo/landing/bg_visore_landing.png);
        height: 700px;
        width: 100%;
        background-size: cover;
        background-position: 53% 50%;
    }
    
    .landing_title {
        font-family: 'EniExpBoldRegular';
        font-size: 35px;
    }
    
    .landing_subtitle {
        color: #c11e43;
        font-family: 'EniExpBoldRegular';
        font-size: 35px;
    }
    
    .landing_text {
        font-family: 'EniExpRegRegular';
        font-size: 20px;
        margin: 40px 0;
    }
    
    .landing_note_title {
        font-family: 'EniExpBoldRegular';
        font-size: 22px;
        margin-top: 40px;
    }
    
    .landing_note {
        font-family: 'EniExpRegRegular';
        font-size: 18px;
        margin-top: 20px;
        line-height: 1.2;
    }

}

@media (max-width: 599.9px) {
    body {overflow-x: hidden;}
    
    /*.row {margin-left: 0px !important; margin-right: 0px !important;}*/
    
    .container { 
        width: 100%;
        padding-left: 0px; 
        padding-right: 0px;
        margin: auto;
    }
    
    .wp-content {margin-bottom: 85px;}
    
    /* home banner */
    .home-banner {width: 100% !important;}
    .home-banner .text-banner {width: 100%;  margin-top: 60px !important; margin-left: 1% !important; position: absolute; }
    .home-banner .text-banner .title {margin-top: 10px; margin-left: 10px; font-size: 40px !important; width: 90% !important; font-family: "enitabregregular", Helvetica, Arial, sans-serif; }
    .home-banner .text-banner .subtitle { font-size: 19px; width: 50% !important; line-height: 28px; margin-top: 11px; font-family: "enitabregregular", Helvetica, Arial, sans-serif; }
    .home-banner .banner-figure { text-align: center; margin-left: -300px; margin-top: 0px; overflow-x: hidden;}
    .home-banner .banner-figure img {width: 100%; margin-top: 100px;}
    .home-content h3 {font-size: 24px;}
    
    /* barra logo*/
    .toolbar .toolbar-logo { position: relative; top: 1%; left: 30px; width: 120px; height: 60px; text-indent: -9999px; background: transparent url(../img/logo.png) no-repeat 0px -1px; background-size: 100%; }
    .toolbar { background-color: #FFFFFF;}
    .toolbar a.navbar-brand {
        margin-left: 0;
        width: 120px;
        height: 60px;
    }
    .navbar-default .navbar-toggle { border: none; width: 60px; height: 60px; margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;}
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: #000000; height: 60px; margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;}
    .navbar-collapse {background-color: #000000; border: none;}
    .navbar-toggle {border: 2px solid transparent; border-radius: 0px !important; margin-right: 0px !important;}
    .navbar-toggle .icon-bar {
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 1px;
        margin: 5px;
    }
    
    .navbar-right .btn-login.active {float: left; width: 40% !important; margin-top: 20px; margin-left: 4% !important; border: 1px solid #F7F7F7;}
    .navbar-right .btn-signup.active { float: left; width: 40% !important; margin-top: 20px !important; margin-left: 20px !important; background-color: #f7f7f7 !important; color: #000000 !important;}
    .navbar-right .btn-signup {background-color: #f7f7f7 !important; color: #000000 !important;}
    
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse { max-height: 100%; padding-left: 30px;}
    
    
    /*.page-top { margin-top: 100px;}*/
    
    /* footer */
    .wp-footer .navbar-toggle {display: none;}
    .wp-footer button {display: none;}
    section.wp-footer { width: 100%; bottom: 0; position: absolute;}
    .footer-copyright .navbar-text {margin-left: 20px;}
    
    /* home after banner */
    .home-content .margin-row {margin-top: 0px !important; margin-left: 10px !important; margin-right: 10px !important; width: 100% !important; text-align: center;}
    .home-content .margin-row .col-xs-6 {
        /*width: 40%;*/ 
        /*float:left;*/ 
        margin-top: 20% !important;
    };
    
    .home-content .form-buttons{ margin: 20% auto 10% auto !important; text-align: center;}
        
    /* form buttons */
    .form-buttons { /* form buttons margin: 10% auto 10% auto !important; */ text-align: center;}
    /*.btn-group-justified{ width: auto; margin: auto;}*/
    
    /* form di login */
    /*#div-login-form {margin: 50px 10% 0 10%;}*/
    #div-recovery-password-form {margin: 100px 10px 0 10px;}
    /*#div-login-form .btn-signup.active {margin-left: 10px !important;}*/
    #div-login-form .form-buttons{width: 50%; margin-left: auto !important; margin-right: auto !important;}
    
    fieldset.paddingBottom {padding-bottom: 10% !important;}
    
    /* come funziona page*/
    .wp-content.info-page { margin-top: 100px; max-width: 740px; margin-left: auto; margin-right: auto; margin-bottom: 100px }
    .info-section {margin-top: 20px !important;}
    .info-section img {margin: auto; width: 100%;}
    .info-header {margin-top: 97px; height: auto !important;}
    .info-page .info-header {margin-top: 10px;}
    .row-inverted {display: flex; flex-flow: column;}
    .row-inverted-img {order: 2;}
    
    /* faq content */
    .faq_content {margin: 10% !important;}
    .questions{ width: 100% !important;}
    .nav-welcome .info-header {margin-top: 50px;}
    .nav-welcome-faq .info-header {margin-top: 50px;}
    .nav-welcome {padding-bottom: 50px !important;}
    
    /* intro signup */
    .intro-action {width: 100% !important; margin-bottom: 0px !important; padding-bottom: 0px !important;}
    .intro-action .btn-signup.active {margin-bottom: 40px;}
    .intro-images {width: 100% !important; height: auto !important;}
    .intro-images img {width: 90%; margin: auto;}
    .intro-images .left-image {width: 50% !important;}
    .intro-images .right-image {width: 50% !important;}
    .intro_text_section {float: left;}
    
    /* signup page */
    .step-section { margin-top: 0px !important; padding-top: 0px !important; padding-bottom: 0px !important;}
    .step-figure {width: 100% !important; text-align: center !important; margin-top: 5px !important;}
    .stepbar-signup {margin: 160px 5px 100px 5px; padding-left: 10px; padding-right: 15px;}
    .recovery-password { margin: 50px 5% 50px 5%; }
    .step-img {float: none !important; height: 40px !important;}
    .step_active_title {font-size: 16px;}
    .step_disabled_title {font-size: 16px;}
    /*.img-city-animation {margin-top: 25px !important; float: left !important;}*/
     /*#form-registration {padding: 0px 10px;}*/
    .form-group-pdf label {font-size: 12px;}
    .pdfDownloadRed {font-size: 12px !important;}
    .pdfDownloadRed img {width: 24px !important;}
    .form-group {margin: 40px 0 10px 0px !important;padding: 0px !important;}
    .form-group-radio {margin: 40px 0 10px 0px !important;padding: 0px !important;}
    .field-info {margin: 0px !important;}
    .widthLayout { padding: 20px; }  
    
    /*.col-md-8 .ui-autocomplete-input {width: 70%; float: left;}*/
    
    /* profile page */
    .content-profile-page { padding: 20px;}
    
    /* security page */
    .content-security-page { padding: 40px 20px 0px 20px; }
    
    /* payment page */
    .content-payment-page { padding: 20px;}
    
    /*.info-card {padding: 0px !important;}*/
    
    .btn-login_payment_Del, .btn-login_payment_Del.active { 
        border-radius: 30px;
    }
    .btn-payment_Def {border-radius: 30px; width: auto !important; float: none !important;}
    .btn-payment_Del {border-radius: 30px; width: auto !important; margin-right: 0px !important; float: none !important;}
    
    .btn-payment-icon { border-radius: 30px; padding: 8px; border-style: solid; border-color:#CCCCCC; border-width:1px; width: auto; text-align: center;}
    
    .info-card .banner-content-figure .img-card-type {width: 50px !important; height: auto !important;}
    
    /*.text_payment {margin-left: -12px !important;}*/
    
    #div_user_card_list .row {margin-left: -15px !important; margin-right: -15px !important;}
    
    /* history page */
    .content-history-page { padding: 2%;}
    
    #payment_history_table {padding: 0px !important; height: 100% !important;}
    
    .update_btn {width: 95%; margin-top: 20px;}
    
    .checkbox_filter {font-size: 12px !important; margin: 0px !important;}
    
    .table-condensed {
        font-size: 14px !important;
    }
    
    .table_basic {padding: 0px !important;}
    .table_basic tr td {vertical-align: top !important;}
    .td_source_type img {margin-top:  10px !important; width: 100%;}
    .table_basic div {padding: 0px !important;}
    
    .padding-top-xs {padding-top: 20px !important;}
    
    /* check card page */
    /*#div_check_amount_form {padding: 10%;}*/
    
    /* insert pin page */
    #div_insert_pin_form { margin: 75px 35px 0px 35px;}
    
    /* loyalty card page */
    .content-loyalty-page { padding: 20px;}
    
    .loyalty-card-code { font-size: 18px !important;}
        
    /* insert payment method page */
    /*#div_insert_payment_method_form { margin: 40px 15px 0px 20px; }*/
    
    .form-insert-pin .centerAlign {margin-left: 0px; margin-right: 0px;}
    
    .form-insert-pin .cards-figure img {width: 100%;}
    
    #div_error_insert_payment_card {padding: 20px; margin-top: 20px}
    
    /* confirm popup */
    .div_confirm_popup {width: 100% !important;}
    
    .widthLayout .space-line { margin-top: 150px; margin-left: auto; margin-right: auto; }
    
    .message_payment_card { margin-top: 120px; }
    .message_payment_card .message_space_line { line-height: 35px; }
    
    .div_popup_ticket_expired {width: 95% !important; padding: 15px !important; font-size: 18px !important; left: 10px !important;}
    
    .popUpDiv { width: 95% !important; left: 10px !important; padding: 10px !important; overflow-y: scroll;}
    
    #login-form ::-webkit-input-placeholder { 
        font-size: 14px !important;
    }
    #login-form :-moz-placeholder { 
       font-size: 14px !important;
    }
    #login-form ::-moz-placeholder { 
       font-size: 14px !important;
    }
    #login-form :-ms-input-placeholder { 
       font-size: 14px !important;
    }
    
    .container>.navbar-header {margin-right: 0px !important;}
    
    .info-voucher h5 {font-size: 24px !important;}
    #div_voucher_list .row { margin-left: -15px !important; margin-right: -15px !important;}
    
    .row { margin-left: 16px; margin-right: 16px;}
    
    .button-send-margin {
        margin-top: 30px;
    }
    
    input[name=_username]::-webkit-input-placeholder { color:transparent; }
    input[name=_username]:-moz-placeholder { color:transparent; }
    input[name=_username]::-moz-placeholder { color:transparent; }
    input[name=_username]:-ms-input-placeholder { color:transparent; }
    
    input[name=_password]::-webkit-input-placeholder { color:transparent; }
    input[name=_password]:-moz-placeholder { color:transparent; }
    input[name=_password]::-moz-placeholder { color:transparent; }
    input[name=_password]:-ms-input-placeholder { color:transparent; }
    
    .visore-promo-welcome {
        width: 80%;
        max-width: 524px;
        vertical-align: middle;
        margin-bottom: 30px;
        margin-left: 5%;
        margin-top: 30px;
    }
    
    .visore-promo-landing {
        width: 80%;
        max-width: 524px;
        vertical-align: middle;
        margin-bottom: 7px;
        margin-left: 5%;
        margin-top: 30px;
    }
    
    .landing_visore {
        background-image: url(../img/promo/landing/bg_visore_landing.png);
        height: 700px;
        width: 100%;
        background-size: cover;
        background-position: 59% 50%;
    }
    
    .landing_title {
        font-family: 'EniExpBoldRegular';
        font-size: 30px;
    }
    
    .landing_subtitle {
        color: #c11e43;
        font-family: 'EniExpBoldRegular';
        font-size: 30px;
    }
    
    .landing_text {
        font-family: 'EniExpRegRegular';
        font-size: 20px;
        margin: 40px 0;
    }
    
    .landing_note_title {
        font-family: 'EniExpBoldRegular';
        font-size: 18px;
        margin-top: 40px;
    }
    
    .landing_note {
        font-family: 'EniExpRegRegular';
        font-size: 16px;
        margin-top: 20px;
        line-height: 1.2;
    }
    
}

@media screen and (min-width: 980px) {
    
    /* =====================================================
    /* content
    ===================================================== */

    div.wrapper { width: 100%; }
    
    section.wp-header { position: fixed; top: 0; right: 0; left: 0; z-index: 220; }
    header.header { position: relative; height: 117px; }
    
    .wp-content { margin-top: 180px; margin-bottom: 85px;}
    .wp-content.stepbar { margin-bottom: 85px; }
    .wp-content.stepbar-signup { margin-top: 290px }
    .wp-content.info-page { margin-top: 230px; width: 980px; margin-left: auto; margin-right: auto; margin-bottom: 100px }
    .wp-content > .content-faq-page { padding: 0px; width: 980px; margin-left: auto; margin-right: auto; margin-bottom: 140px }
    .wp-content > .content-history-page { padding: 0px; width: 800px; margin-left: auto; margin-right: auto; margin-bottom: 140px }
    .wp-content > .content-profile-page { padding: 0px; width: 650px; margin-left: auto; margin-right: auto; margin-bottom: 140px }
    .wp-content > .content-loyalty-page { padding: 0px; width: 650px; margin-left: auto; margin-right: auto }
    .wp-content > .content-payment-page { padding: 0px; width: 700px; margin-left: auto; margin-right: auto; margin-top: 40px; margin-bottom: 140px }
    .wp-content > .content-security-page { padding: 0px; width: 650px; margin-left: auto; margin-right: auto; margin-top: 40px; margin-bottom: 140px }
    
    section.wp-footer { width: 100%; bottom: 0; position: absolute;}
    .sticky { position: absolute; bottom: 0; }
    nav.footer { position: relative; height: 85px; }
    .wp-footer .navbar { margin-bottom: 0px; border-radius: 0px; }
    .navbar-pad { padding: 16px 56px; }
    
    .widthLayout { padding: 0; margin: 0px auto 0px auto; }
    
    /* =====================================================
    /* header toolbar
    ===================================================== */

    .top-bar { background-color: #333333; border-color: #333333; height: 50px; }
    .top-bar .navbar-text { color: #FFFFFF; margin-left: 0px; margin-right: 0px; }
    .top-bar .green-number-text { font-size: 14px; line-height: 16px; margin-right: 8px; font-family: "open_sansregular", Helvetica, Arial, sans-serif; }
    .toolbar { top: 50px; height: 131px; background-color: #FFFFFF; }
    .toolbar .toolbar-logo { position: relative; top: 15px; left: -4px; width: 187px; height: 97px; text-indent: -9999px; background: transparent url(../img/logo.png) no-repeat 0px -1px; }
    .toolbar a.navbar-brand { margin-left: 0; width: 187px; height: 97px; }
    .toolbar .navbar-right { margin: 40px 3px 0 0 }
    .toolbar .navbar-right .navbar-spacer { margin-left: 3px; }
    .toolbar .navbar-right > li { /*margin-left: 10px;*/ }
    .toolbar .navbar-right > li > a { padding-right: 15px; color: #333333; font: normal 14px "open_sanssemibold", Helvetica, Arial, sans-serif; transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; text-decoration: none; /*text-transform: uppercase;*/ }
    /*.toolbar .navbar-right > li > a:hover { color: #ffffff; font: normal 14px "open_sanssemibold", Helvetica, Arial, sans-serif; transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; text-decoration: none; text-transform: uppercase; }*/
    .toolbar .btn-label { font-size: 19px; line-height: 14px; font-family: "EniExpBoldRegular", Helvetica, Arial, sans-serif; }
    .toolbar .btn-login { margin-left: 10px; color: #FFFFFF!important; width: 112px; background-color: #333333; border-radius: 2px; webkit-box-shadow: initial; box-shadow: initial; }
    .toolbar .btn-login.active { margin-left: 10px; color: #FFFFFF!important; width: 112px; background-color: #333333!important; border-radius: 2px!important; webkit-box-shadow: initial; box-shadow: initial; }
    .toolbar .btn-signup { margin-left: 10px; color: #333333!important; width: 116px; background-color: #FFFFFF; border-color: #333333; border-radius: 2px; webkit-box-shadow: initial; box-shadow: initial; }
    .toolbar .btn-signup.active { margin-left: 10px; color: #333333!important; width: 116px; background-color: #FFFFFF!important; border-color: #333333; border-radius: 2px!important; webkit-box-shadow: initial; box-shadow: initial; }
    .toolbar .btn-logout { padding: 15px; margin: 10px 10px 10px 10px; height: 50px; color: #FFFFFF!important; background-color: #000000; border-radius: 2px; webkit-box-shadow: initial; box-shadow: initial; }
    .toolbar .btn-logout.active { padding: 15px; margin: 10px 10px 10px 10px; height: 50px; color: #FFFFFF!important; background-color: #000000!important; border-radius: 2px!important; webkit-box-shadow: initial; box-shadow: initial; }
    .toolbar .icon-gray { color: #333333; }
    .toolbar .user-name { font-weight: bold; font-family: "open_sansregular", Helvetica, Arial, sans-serif; }
    .toolbar .dropdown-menu { padding-bottom: 0px; }
    .toolbar .dropdown-menu > li.user-menu-li { width: 234px; }
    .toolbar .dropdown-menu > li.user-menu-li .user-menu-link { padding: 10px 20px 15px 20px }
    .toolbar .dropdown-menu > li.user-menu-li .user-menu-link-text { margin-left: 7px; }
    .toolbar .dropdown-menu > li.divider { margin-top: 3px; }


    /* =====================================================
    /* footer elements
    ===================================================== */

    .footer .footer-copyright { margin-right: 15px; margin-left: 15px; font-size: 14px; }

    .message_payment_card { margin-top: 150px; }
    
    .row {
        margin: 0px 30px;
    }
    
    .toolbar-contain-margin {
        margin: 8px 30px;
    }
    
    .landing_visore {
        background-image: url(../img/promo/landing/bg_visore_landing.png);
        height: 480px;
        width: 100%;
        background-size: cover;
        background-position: 68% 50%;
    }
    
}


/* =====================================================
/* form login
===================================================== */

#div-login-form .btn-login { padding: 15px; margin-left: 10px; color: #FFFFFF!important; width: 112px; background-color: #333333; border-radius: 2px; webkit-box-shadow: initial; box-shadow: initial; }
#div-login-form .btn-login.active { padding: 15px; margin-left: 10px; color: #FFFFFF!important; width: 112px; background-color: #333333!important; border-radius: 2px!important; webkit-box-shadow: initial; box-shadow: initial; }
#div-login-form .btn-label { margin-left: 8px; font-size: 19px; line-height: 14px; font-family: "EniExpBoldRegular", Helvetica, Arial, sans-serif; }

#div-login-form .btn-signup { padding: 15px; margin-left: 10px; color: #333333!important; width: 116px; background-color: #FFFFFF; border-color: #333333; border-radius: 2px; webkit-box-shadow: initial; box-shadow: initial; }
#div-login-form .btn-signup.active { padding: 15px; margin-left: 10px; color: #333333!important; width: 116px; background-color: #FFFFFF!important; border-color: #333333; border-radius: 2px!important; webkit-box-shadow: initial; box-shadow: initial; }
#div-login-form .btn-label-login { margin-left: auto; margin-right: auto; font-size: 19px; line-height: 14px; font-family: "EniExpBoldRegular", Helvetica, Arial, sans-serif; }
#div-login-form .form-buttons { margin: 45px 210px 0 204px; }

/* =====================================================
/* intro page
===================================================== */

.intro-images { width: 640px; height: 353px; margin: 48px auto 0; }
.intro-images .left-image { float: left; width: 300px; }
.intro-images .right-image { float: right; width: 300px; }
.intro-action { width: 800px; text-align: center; margin: 35px auto 0px auto; padding-bottom: 72px; }

/* =====================================================
/* form register
===================================================== */

main { padding: 0!important; margin-top: 50px; margin-bottom: 40px; }
fieldset > legend { font-size: 36px; line-height: 36px; font-family: "EniExpRegRegular", Helvetica, Arial, sans-serif; }
fieldset > p { font-size: 20px; line-height: 28px; font-family: "EniExpRegRegular", Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif; }
fieldset > p.info { padding-top: 25px; padding-left: 3px; letter-spacing: -0.4px; }
fieldset > p.info a:hover { color: #3c3c3c }
fieldset.paddingBottom {padding-bottom: 10% !important; }
legend.legendBottom { margin-bottom: 11px; }
.centerAlign { margin-left: 4px; margin-right: 9px; }
.dateTopMargin { margin-top: 6px!important; }
.formElementBottom { margin-bottom: 10px; }
.underline { text-decoration: underline; }
.control-label.error-message { color: #c51122; margin-top: 13px; font-family: "open_sansitalic", Helvetica, Arial, sans-serif; font-size: 14px; }

form label { display: block; margin: 0; color: #333333; font: 20px 'EniTabBoldRegular', Helvetica, Arial, sans-serif; }
select, input[type="text"], input[type="email"], input[type="password"], input[type="number"], .smallForm input[type="email"], .smallForm input[type="password"], .smallForm input[type="number"] {
  width: 100%;
  display: block;
  height: 53px;
  padding: 0 10px 0 0;
  margin: 16px 0 0 0;
  background-color: white;
  border: 0;
  border-bottom: solid 1px #333333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #555555;
  font: normal 19px/53px "open_sansregular", Helvetica, Arial, sans-serif;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, .smallForm input[type="email"]:focus, .smallForm input[type="password"]:focus, .smallForm input[type="number"]:focus {
    outline:0px !important;
    -webkit-appearance:none;
    border-bottom: solid 1px #fed300;
}
select {
    outline:0px !important;
    border-bottom: solid 1px #fed300;
}
input[type="text"].error-field,
input[type="email"].error-field,
input[type="password"].error-field,
input[type="number"].error-field,
.smallForm input[type="email"].error-field,
.smallForm input[type="password"].error-field,
.smallForm input[type="number"].error-field
{  border-bottom: solid 1px #c51127; }

.form-group { margin: 40px 0 10px 0px; padding: 0 0 0 2px; }
.form-group-error { margin: 15px 0 0 17px; padding: 0 24px 0 2px; }
.form-group-info { margin: 11px 0 10px 17px; padding: 0 24px 0 2px; }
.form-group-radio { margin: 50px 0 -13px 0; padding: 0 24px 0 2px; }
.form-group-pdf { margin: 40px 0 10px 0px; padding: 0 0px 0 0px; position: relative }
.form-group-pdf-block { margin: 0px 0 10px 0px; padding: 0 0px 0 0px; position: relative }
.field-info { margin: 10px 0px 4px 2px; font-size: 14px; line-height: 24px; font-family: "EniExpRegRegular", Helvetica, Arial, sans-serif; }
.check-box-text { width: 550px; font-size: 14px; color: #999999; font-family: "EniExpRegRegular", Helvetica, Arial, sans-serif; }
.form-field-info { font-size: 16px; font-family: "open_sansregular", Helvetica, Arial, sans-serif; }

form .pdfDownloadRed {
  /*position: absolute;*/
  /*top: -4px;*/
  /*right: 23px;*/
  /*padding: 10px 0 10px 32px;*/
  color: #333333;
  font-size: 16px;
  text-decoration: none;
  font-family: "open_sanssemibold", Helvetica, Arial, sans-serif;
}

form .boxCheck {
  padding: 15px;
  margin: 17px 0 40px;
  color: #555555;
  background-color: #f2f2f2;
  width: 100%;
}

.btn-login { padding: 15px; margin-left: 10px; color: #FFFFFF!important; width: 112px; background-color: #333333; border-radius: 2px; webkit-box-shadow: initial; box-shadow: initial; }
.btn-login.active { padding: 15px; margin-left: 10px; color: #FFFFFF!important; width: 112px; background-color: #333333!important; border-radius: 2px!important; webkit-box-shadow: initial; box-shadow: initial; }
.btn-label { margin-left: auto; margin-right: auto; font-size: 19px; line-height: 14px; font-family: "EniExpBoldRegular", Helvetica, Arial, sans-serif; }
.btn-signup { padding: 15px; margin-left: 10px; color: #FFFFFF!important; width: 240px; background-color: #333333; border-radius: 2px; webkit-box-shadow: initial; box-shadow: initial; }
.btn-signup.active { padding: 15px; margin-left: 10px; color: #FFFFFF; width: 240px; background-color: #333333; border-radius: 2px!important; webkit-box-shadow: initial; box-shadow: initial; }

.form-buttons {
   text-align: center;
}

#div-result-page .result-content-figure { text-align: center; margin-bottom: 56px; }
#div-result-page legend { margin-bottom: 24px; }
#div-result-page #div-result-success p { line-height: 26px; margin-top: 25px; }
#div-result-page #div-result-info p { text-align: left; line-height: 26px; margin-top: 25px; }
#div-result-success .btn-login.active {margin-top: 20px;}

.step-section {background-color: #eceff1; margin-top: 30px; padding-top: 10px; padding-bottom: 30px;}

.step-figure { text-align: left; background-color: #eceff1; margin: 20px auto 20px auto; width: 980px; background-color: #eceff1;}

.step-img {float: left; margin-right: 5px; height: 40px;}

.step_active_title{font-family: "open_sanssemibold", Helvetica, Arial, sans-serif;}

.step_active_subtitle{font-size: 14px; font-family: "open_sansregular", Helvetica, Arial, sans-serif; margin-top: 10px;}

.step_disabled_title{font-family: "open_sansregular", Helvetica, Arial, sans-serif; color: #C7C9CB;}

.step_disabled_subtitle{font-size: 14px; font-family: "open_sansregular", Helvetica, Arial, sans-serif; color: #C7C9CB; margin-top: 10px;}

.img-city-animation {display: none; padding-left: 0; margin-left: -25px; margin-top: -35px; float: right;}

/* =====================================================
/* form register
===================================================== */
#div_insert_pin_form .form-buttons { margin: 28px 264px 40px 256px; }
#div_check_amount_form .form-buttons { text-align: center; margin-top: 28px; margin-bottom: 40px; }
.form-insert-pin .cards-figure { text-align: center; margin-top: 50px; margin-bottom: 30px; }

.info-loyalty { background-color: #f2f2f2; clear: both; margin-top: 10px; height: 60px; padding-top: 22px; margin-left: 10px; margin-right: 25px; }

/* =========
/* insert payment method
============ */
.btn-deposit { padding: 15px; margin-left: 10px; color: #FFFFFF!important; width: 130px; background-color: #333333; border-radius: 2px; webkit-box-shadow: initial; box-shadow: initial; }
.btn-deposit.active { padding: 15px; margin-left: 10px; color: #FFFFFF!important; width: 130px; background-color: #333333!important; border-radius: 2px!important; webkit-box-shadow: initial; box-shadow: initial; }
#div_insert_payment_method_form .form-buttons { margin: 45px 210px 0 245px; }
#div_insert_payment_method_form .error { color: #c51122; margin-top: 13px; font-family: "open_sansitalic", Helvetica, Arial, sans-serif; font-size: 14px; }
#loading-container { position: fixed; top: 0; left: 0; z-index: 10000; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); }
#container-loyalty { display: none; position: fixed; top: 0; left: 0; z-index: 10000; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); }
#container-info-app { display: none; position: fixed; top: 0; left: 0; z-index: 2900; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); }
@media \0screen\,screen\9 { #loading-container { background: transparent url(../img/bg_overlay.png) repeat 0 0; } }
#loading-container .loading { position: absolute; top: 50%; left: 50%; width: 74px; height: 74px; margin-top: -37px; margin-left: -37px; background-color: black; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
#loading-container .loading .icon { position: absolute; top: 50%; left: 50%; width: 44px; height: 44px; margin-top: -22px; margin-left: -22px; background: transparent url(../img/loading_44px.gif) no-repeat center center; }
.btn-add-card { padding: 15px; color: #FFFFFF!important; background-color: #333333; border-radius: 2px; webkit-box-shadow: initial; box-shadow: initial; }
.info-card { background-color: #f2f2f2; clear:both; margin-top: 10px; padding: 10px; }
.info-icon { background-image: url('../img/info.png'); background-repeat: no-repeat; background-size: 50px; padding-left: 70px; margin-top: 40px; margin-bottom: 10px; min-height: 60px; }


/* =====================================================
/* homepage
===================================================== */

.home-banner { margin-left: auto; margin-right: auto; width: 1200px; background-color: #fed300; }
.home-banner .text-banner { margin-top: 90px; margin-left: 105px; position: absolute; }
.home-banner .text-banner .title { font-size: 50px; width: 400px; font-family: "enitabregregular", Helvetica, Arial, sans-serif; }
.home-banner .text-banner .subtitle { font-size: 19px; width: 480px; line-height: 28px; margin-top: 11px; font-family: "enitabregregular", Helvetica, Arial, sans-serif; }
.home-banner .banner-figure { text-align: center; }
.home-content { text-align: center; margin-top: 45px; margin-bottom: 45px; }
.home-content .banner-content-figure { text-align: center; }
.home-content .banner-content-detail { position: relative; top: 34px; line-height: 24px; }
.home-content .margin-row { width: 980px; margin: auto; margin-bottom: 100px; margin-top: 60px;}
.home-content .btn-comefunziona { padding: 15px; margin-left: 10px; color: #FFFFFF!important; width: 230px; background-color: #333333; border-radius: 2px; webkit-box-shadow: initial; box-shadow: initial; }
.home-content .btn-comefunziona.active { padding: 15px; margin-left: 10px; color: #FFFFFF!important; width: 230px; background-color: #333333!important; border-radius: 2px!important; webkit-box-shadow: initial; box-shadow: initial; }


/* =====================================================
/* info
===================================================== */

.info-header { width: 100%; height: 100%; margin-bottom: 40px; }
.info-header .text-header { text-align: center; }
.info-header .text-header .title { font-size: 34px; font-family: "open_sanssemibold", Helvetica, Arial, sans-serif; }
.info-header .text-header .subtitle { font-size: 19px; line-height: 28px; margin-top: 15px; font-family: "open_sanssemibold", Helvetica, Arial, sans-serif; }
.info-header .text-header .error-insert-card-message { margin-top: 15px; font-size: 17px; font-family: 'EniTabBoldRegular'; }

.info-section { margin-top: 60px; padding: 20px; height: auto;}
.info-section-left { float: left; }
.info-section-right { float: right; }
.info-section-text { width: 470px; margin-top: 55px; }
.info-section-title { font-size: 26px; line-height: 40px; font-family: "open_sanssemibold", Helvetica, Arial, sans-serif; }
.info-section-subtitle { font-size: 14px; line-height: 24px; margin-top: 10px; font-family: "open_sansregular", Helvetica, Arial, sans-serif; }
.info-section-image { width: 470px; }

/* =====================================================
/* auto complete
===================================================== */

/*.ui-autocomplete-loading { background: white url(../img/loading_20px.gif) no-repeat right center; }*/

.ui-autocomplete { z-index: 1000; width: 410px; max-height: 200px; color: #c6c6c6; border: 0; padding: 0; background-color: white; overflow-x: hidden; overflow-y: auto; /*border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35); -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);*/ }
.ui-autocomplete .ui-menu-item { font-size: 19px; line-height: 40px; }
.ui-autocomplete .ui-menu-item:first-child { border: none; font-size: 19px; line-height: 40px;}
.ui-autocomplete .ui-menu-item a { display: block; padding: 6px 10px; border: none; color: #555555; font-size: 19px; line-height: 53px; font-family: "open_sanssemibold", Helvetica, Arial, sans-serif; }

* html .ui-autocomplete { height: 200px; }

.ui-menu .ui-menu-item a { display: block; padding: 6px 10px; border: none; color: #555555; font-size: 19px; line-height: 53px; font-family: "open_sanssemibold", Helvetica, Arial, sans-serif; }


.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #e6e6e6!important;
}

.ui-widget-header {
    background: #cccccc!important;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    color: #fed300!important;
    background: #ffffff!important;
    border: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-widget-content {
    color: #c6c6c6!important;
    background: #ffffff!important;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
   background: #fbf9ee!important;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    background: #fef1ec!important;
}

.form-buttons_payment {
   /*margin: 10px 10px 10px 10px;*/
    float: right        
}

    .btn-login_payment_Def { padding: 10px; margin-right: 10px; color: #333333!important; width: 150px; background-color: #f2f2f2;
                             
  font-size: 14px; line-height: 14px; font-family: "open_sanssemibold", Helvetica, Arial, sans-serif; border-style: solid; border-color:#CCCCCC; border-width:1px;}    
    .btn-login_payment_Def.active { padding: 10px; margin-right: 10px; color: #333333!important; width: 152px; background-color: #f2f2f2!important; 
  font-size: 14px; line-height: 14px; font-family: "open_sanssemibold", Helvetica, Arial, sans-serif; border-style: solid; border-color:#CCCCCC; border-width:1px;}    
 


    .btn-login_payment_Del { padding: 10px; margin-right: 10px; color: #333333!important; width: 112px; background-color: #f2f2f2; 
  font-size: 14px; line-height: 14px; font-family: "open_sanssemibold", Helvetica, Arial, sans-serif; border-style: solid; border-color:#CCCCCC; border-width:1px;}   
    .btn-login_payment_Del.active { padding: 10px; margin-right: 10px; color: #333333!important; width: 112px; background-color: #f2f2f2!important;
                                      
font-size: 14px; line-height: 14px; font-family: "open_sanssemibold", Helvetica, Arial, sans-serif;  border-style: solid; border-color:#CCCCCC; border-width:1px;}   
 
    
    
.label_payment { margin-left: 0px;  margin-bottom:30px; margin-top: 20px; font-size: 20px; line-height: 14px; font-family: "EniTabBoldRegular", Helvetica, Arial, sans-serif; }
.text_payment { margin-left: 0px; font-size: 14px; padding-top: 4px; line-height: 14px; font-family: "open_sansregular", Helvetica, Arial, sans-serif; color: #333333 }
.text_payment_Verify  { margin-left: 14px; padding-left: 14px; font-size: 14px; line-height: 14px; font-family: "open_sansregular", Helvetica, Arial, sans-serif; color: #333333 }
.btn_payment { font-size: 14px; line-height: 14px; font-family: "EniExpBoldRegular", Helvetica, Arial, sans-serif; }

.btn-payment_Def {float: right; padding: 10px; margin-top: 10px; margin-right: 10px; text-align: center;  color: #333333!important; width: 100%; background-color: #f2f2f2; font-size: 14px; line-height: 14px; font-family: "open_sanssemibold", Helvetica, Arial, sans-serif; border-style: solid; border-color:#CCCCCC; border-width:1px;}    
.btn-payment_Del {float: right; padding: 10px; margin-top: 10px; margin-right: 10px; text-align: center; color: #333333!important; width: 100%; background-color: #f2f2f2; font-size: 14px; line-height: 14px; font-family: "open_sanssemibold", Helvetica, Arial, sans-serif; border-style: solid; border-color:#CCCCCC; border-width:1px;}    
  
/* =====================================================
/* history payment
===================================================== */

#payment_history_table{padding: 15px; border: 1px solid #dddddd; height: 620px; margin-top: 10px;}

.table_basic{
    margin:0px;
    padding:20px;
    width:100%;
}

.table_basic div{
    padding:20px;
}

#table_tr_header{  
    border-bottom: 1px solid;
}

.table_basic tr td{  
    padding: 15px;
    vertical-align: middle;
}

.table_basic tr:nth-child(even){ 
    background-color:#F5F5F5; 
    padding: 10px;
}

.table_basic th{
    padding: 20px 20px 20px 15px;
    background-color:#ffffff;
    border:0px solid #000000;
    text-align:left;
    border-width:0px;
    /*font-size:14px;*/
    /*Sfont-family:Arial;*/
    font-weight:bold;
    color:#000000;
}

.td_source_type{
    padding-top: 0px !important; 
    padding-bottom: 0px !important; 
    vertical-align: middle;
}

.td_source_type img{margin: 0px;}

.td_source_type p{
    background-color:#FFD300;
    /*margin: 10px !important;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.8em;
    width: 100%;
    /*height: 20px;*/
    text-wrap: none;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
}

.month_selector{
    background-color:#F5F5F5;
    width: 75%;
    height: 50px;
    text-align: center;
    font-size: 16pt;
    font-weight:bold;
    margin-bottom: 10px;
    padding: 11px;
    float: left;
}

.month_selector div { 
    vertical-align: middle;
}

.div_left_change_date{
    float:left;
    cursor: pointer;
}

.div_center_change_date{
    display: inline-block;
}

.div_right_change_date{
    float:right;
    cursor: pointer;
}

.div_search_btn{
    background-color:#F5F5F5;
    height: 50px;
    width: 20%;
    text-align: center;
    font-size: 16pt;
    font-weight:bold;
    margin-bottom: 10px;
    float: right;
    
}

.search_btn{
    background: none; 
    border: none; 
    height: 100%; 
    width: 100%;
    font-size: 10pt;
    outline: none;
    
}

.update_btn{
    /*background: #000000;*/ 
    border: none; 
    font-size: 10pt; 
    padding: 12px; 
    /*margin: 10px 10px 10px 10px;*/ 
    height: 40px; 
    color: #FFFFFF!important; 
    background-color: #000000!important;
}

.date_filter {width: 150px;}

#search_filters {padding-bottom: 15px;}

#search_filters div {padding: 0px;}

.div_navigation_container{
    width: 100%; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

.div_navigation_previous{
    float:left; 
    width:130px; 
    display: inline-block; 
    border: 1px solid #dddddd; 
    padding: 7px;
}

.div_navigation_next{
    float:right; 
    width:130px; 
    display: inline-block; 
    border: 1px solid #dddddd; 
    padding: 7px;
    text-align: right;
}

.div_navigatio_center{
    margin:0 auto;
    width: 100%;
    text-align: center;
}

.img_navigation_previous{
    width:12px; 
    height:12px; 
    margin-right: 10px
}

.img_navigation_next{
    width:12px; 
    height:12px; 
    margin-left: 10px
}

.a_navigation_disabled, .a_navigation_disabled:hover{
    color: gray; 
    font-weight: bold; 
    cursor: default; 
    text-decoration: none;
}

.a_navigation_enabled, .a_navigation_enabled:hover{
    color: black; 
    font-weight: bold; 
    cursor: pointer; 
    text-decoration: none;
}

.a_paging_active, .a_paging_active:hover{
    display: inline-block; margin-right: 3px; text-decoration: none; border: 1px solid black; padding: 7px; color: black; font-weight: bold;
}

.a_paging_inactive, .a_paging_inactive:hover{
    display: inline-block; margin-right: 3px; text-decoration: none; border: 1px solid #dddddd; padding: 7px; color: black; cursor: pointer;
}

/* =====================================================
/* history payment popup
===================================================== */

.blanket {
   background-color:#333;
   opacity: 0.60;
   /*background:none;*/
   position:fixed;
   z-index: 9999;
   top: 0px;
   left:0px;
   width:100%;
   height: 100%;
}

.popUpDiv {
    position:fixed;
    background: #FFFFFF;
    width:500px;
    /*height:400px;*/
    /*border:2px solid #F5F5F5;*/
    z-index: 10001;
    padding: 20px;
    overflow-y: auto;
}

.div_popup_ticket_expired {
    position:fixed;
    background: #FFFFFF;
    width:600px;
    border-radius: 4px;
    z-index: 300;
    padding: 30px;
    font-size: 28px;
    font-family: 'enitabregregular';
}

.div_popup_app_download {
    width: 65%; 
    max-width: 500px; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border-radius: 4px;
    z-index: 300;
    padding: 20px 30px 30px 30px;
    font-size: 28px;
    font-family: 'enitabregregular';
}

.popUpDiv_Animation{
    position:fixed;
    background: none;
    width:70px;
    /*height:400px;*/
    /*border:2px solid #F5F5F5;*/
    z-index: 9002;
    padding: 2px;
    text-align: center;
    top: 50%;
    left: 50%;
    /*vertical-align: middle;*/
}

.div_popup_content{
    border:2px solid #F5F5F5; border-bottom:2px dotted #F5F5F5;padding: 20px;
}

.div_popup_left{
    float:left;
}

.div_popup_right{
    float:right;
}

.div_popup_divisor{
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.input_date {
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
}

.checkbox_filter{
    margin: 10px 5px 0px 5px ; 
}

.div_confirm_popup {
    position:fixed;
    background: #FFFFFF;
    width: 600px;
    /*height:400px;*/
    /*border:2px solid #F5F5F5;*/
    z-index: 10000;
    padding: 20px;
    font-size: 28px;
    text-align: center;
}

.popup_btn{
    border: none;
    box-shadow: initial;
    margin: 50px 10px 10px 10px;
    padding: 10px;
    width: 100px;
    font-size: 14pt;
    outline: none;
    background-color: #333333;
    color: #FFFFFF;
}

/* =====================================================
/* datepicker
===================================================== */

/*::-webkit-datetime-edit { padding: 1em; }*/
/*::-webkit-datetime-edit-fields-wrapper { background: silver; }*/
/*::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }*/
/*::-webkit-datetime-edit-month-field { color: blue; }*/
/*::-webkit-datetime-edit-day-field { color: green; }*/
/*::-webkit-datetime-edit-year-field { color: purple; }*/
::-webkit-inner-spin-button { display: none; margin: 0;}
::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  width: 30px;
}

::-webkit-calendar-picker-indicator::after {

  content: '';
  display: block;
  background: url(../img/calendar.png) no-repeat;
  background-size: 30%;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translateX(-20%);
  transform: translateY(-10%);

}

.input-group{margin-right: 10px;}
.input-group .form-control {
    margin-top: 0; 
    font: normal 16px "open_sansregular", Helvetica, Arial, sans-serif; 
    height: 35px; 
    border: 1px solid #F1F1F1; 
    border-right: none;
    border-radius: none;
    box-shadow: none;
}
.input-group-addon {background-color: transparent; border-left:  none; box-shadow: none; border-color: #F1F1F1;}

.table-condensed { font: normal 18px "open_sansregular", Helvetica, Arial, sans-serif;}

/* =====================================================
/* Welcome panel
===================================================== */

.nav-welcome{background-color: #F5F5F5; margin: 0px 0px 0px 0px; padding: 50px 0px 0px 0px;}

.nav-welcome-faq {background-color: #F5F5F5; margin: 0px 0px 0px 0px; padding: 50px 0px 50px 0px;}

.div_menu_nav_welcome { text-align: center; margin-top: 15px; margin-left: auto; margin-right: auto; width: 850px;}

.div_menu_nav_welcome > ul {border-bottom: none;}

.nav-tabs>li>a {color: #333333;}

.nav-tabs>li.active>a {font-weight: 600;}

/* =====================================================
/* faq page
===================================================== */

.faq_header{text-align: center; margin: 0px 0px 105px 0px;}

.faq_index{margin: 40px 0px 40px 0px;}

.faq_content{margin: 50px 160px 0px 160px;}

.faq_content div {margin: 0px 0px 20px 0px;}

.faq_content h4{font-family: "EniExpRegRegular", Helvetica, Arial, sans-serif;; font-size: 34px;}

.faq_content h6{font-family: "open_sanssemibold", Helvetica, Arial, sans-serif;; font-size: 18px;}

.ancor--list{list-style-image: url(../img/listItem.png);}

.questions{
    /*list-style-image: url(../img/plus.png);*/ 
    border-bottom: 1px solid #dddddd;
    padding: 3px 0px 9px 0px;
    margin: 6px 0px 10px 0px;
    /*width : 640px;*/
    width: 100%;
    line-height: 26px;
}

.questions section p a, .questions section p a:hover, .questions section p a:focus {
    text-decoration: underline;
    color: #333333;
}

.title_questions{
    padding: 26px 0px 20px 0px;
    margin: 20px 0px 6px 0px;
}

.question_icon {
    position: absolute; top: 6px; left: 0; width: 10px; height: 10px; background: transparent url(../img/plus.png) no-repeat -0px -0px; 
}

.accordion--box{margin: 0px 0px 0px 40px; padding: 20px 0px 20px 0px; font-family: "EniExpRegRegular", Helvetica, Arial, sans-serif; font-size: 20px; color: #666666;}

.accordion--box b {
    font-family: "EniTabBoldRegular";
    font-weight: normal;
}

.accordion--box ul {list-style: disc;}

.accordion--box li {margin-left: 20px;}

.accordion--box ol {list-style-type: decimal;}

.accordion--box a {text-decoration: underline;}

.ancor--link, .ancor--link:hover, .ancor--link:focus {text-decoration: none;color: #999999;}

.accordion--link, .accordion--link:hover, .accordion--link:focus {
    font-family: "EniExpRegRegular", Helvetica, Arial, sans-serif; 
    font-size: 20px;
    text-decoration: none; 
    color: #999999; 
}

.accordion--link--active, .accordion--link--active:hover, .accordion--link--active:focus {
    font-family: "EniExpBoldRegular", Helvetica, Arial, sans-serif; 
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.accordion--link--icon {
    margin: 0px 15px 0px 0px; 
    /*width: 10px;*/ 
    /*height:10px;*/ 
    vertical-align: middle;
}


/* =====================================================
/* profile page
===================================================== */

.div_profile_data_row{
    margin: 0px 0px 40px 0px; 
}

.div_profile_data_row label{
    font-family: 'EniTabBoldRegular', Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 20px 0px 20px 0px;
}

.div_profile_data_row_content{
    padding: 20px 0px 20px 0px;
    color: gray;
    border-bottom: 1px solid #000000;
    margin: 0px 0px 0px 0px;
    width:100%;
    font: normal 18px/normal "open_sanssemibold", Helvetica, Arial, sans-serif;
}

.div_profile_date div{
    padding: 20px 0px 20px 0px;
    color: gray;
    font: normal 18px/normal "open_sanssemibold", Helvetica, Arial, sans-serif;
    /*margin-top: 20px;*/
    
}

.div_date_element{border-bottom: 1px solid #000000;}

.div_profile_radio{
    padding: 20px 0px 20px 0px;
    color: gray;
    margin: 0px 0px 0px 0px;
    width:100%;
    font: normal 18px/normal "open_sanssemibold", Helvetica, Arial, sans-serif;
}

.radio_image{
    width: 30px;
    height: 30px;
    background-color: white;
    border: solid 1px #d9d9d9;
    border-radius: 30px;
    display: inline-block; 
    vertical-align: middle;
}

.radio_image_checked {
    width: 30px;
    height: 30px;
    background: transparent url(../img/radio_bullet_gray.png) no-repeat center center;
    border: solid 1px #d9d9d9;
    border-radius: 30px;
    display: inline-block; 
    vertical-align: middle;
}

.radio_value{
    display: inline-block; 
    /*vertical-align: middle;*/
    height: 30px;
    margin: 0px 20px 0px 10px;
}


/* =====================================================
/* custom radio
===================================================== */

.radio {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #FFF;
  border: 1px solid #D9D9D9;
  border-radius: 30px;
  margin-right: 15px;
}

.radio input {
    opacity: 0;
    background: transparent none repeat scroll 0% 0%;
    border: medium none;
    width: 30px;
    height: 30px;
    margin: 0px;
    display: inline-block;
    text-align: center;
}

.radio span {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 1;
    width: 30px;
    height: 30px;
    margin: 0px;
    background: transparent none repeat scroll 0% 0%;
}

.radio span.checked {
    background: transparent url("../img/radio_bullet_gray.png") no-repeat scroll center center;
}

div .radio {
    vertical-align: middle;
    display: inline-block;
}

/* =====================================================
/* background color
===================================================== */

.background-yellow {
    background-color: #fed300;
}

.background-gray {
    background-color: #F5F5F5;
}

#signup_captcha img{
    margin: 50px 15px 0px 0px;
    float: left;
}

#signup_captcha input{
    float:left;
    margin-top: 47px;
    width: 200px
}


/* =====================================================
/* voucher page
===================================================== */
.info-voucher { background-color: #f2f2f2; clear:both; margin-top: 10px; padding: 10px; height: 150px; }

.voucher-tot-title {margin-bottom: 10px; color: #777777; font: normal 18px/normal "open_sanssemibold", Helvetica, Arial, sans-serif;}

.voucher-tot-value {margin-left: 60px; color: #777777; font: normal 24px/normal "open_sanssemibold", Helvetica, Arial, sans-serif;}

.voucher-row-title {
    padding: 20px 0px 20px 0px;
    margin: 0px 0px 0px 0px;
    width:100%;
    font: normal 18px/normal "open_sanssemibold", Helvetica, Arial, sans-serif;
}
.voucher-row-detail {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #f2f2f2;
    margin: 0px 0px 0px 0px;
    width:100%;
    font: normal 18px/normal "open_sanssemibold", Helvetica, Arial, sans-serif;
}

.voucher_data_row{
    margin: 0px 0px 10px 0px; 
}

.voucher_data_row label{
    font-family: "open_sanssemibold", Helvetica, Arial, sans-serif; font-size: 18px;
    padding: 10px 0px 10px 0px;
}

.voucher_data_row_content{
    padding: 5px 0px 5px 0px;
    color: gray;
    border-bottom: 1px solid #000000;
    margin: 0px 0px 0px 0px;
    width:100%;
    font: normal 16px/normal "open_sanssemibold", Helvetica, Arial, sans-serif;
}

/* =====================================================
/* loyalty page
===================================================== */
.info-loyalty-card {
    background-color: #f2f2f2;
    clear:both;
    margin-top: 10px;
    padding: 10px;
}

.loyalty-card-code { font-size: 26px; line-height: 40px; font-family: "EniExpRegRegular", Helvetica, Arial, sans-serif; }

.loyalty-info-icon {
    width: 50px;
    height: 50px;
    background: transparent url(../img/info.png) no-repeat center center;
    background-size: 50px;
    display: inline-block;
    vertical-align: middle;
}

/* =====================================================
/* flipswitch checkbox
===================================================== */

.onoffswitch {
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 2px; line-height: 30px;
    font: normal 18px/normal "open_sanssemibold", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SI";
    padding-left: 10px;
    background-color: #DDDDDD; color: #333333;
    border-radius: 20px;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #FFFFFF; color: #333333;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 22px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 36px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

#popup-loyalty-signup {
    display: block;
    margin: 0;
    color: #333333;
    font: normal 20px/normal "open_sanssemibold", Helvetica, Arial, sans-serif;
}


/* =====================================================
/* Guida
===================================================== */

#summary_guide {
    margin-top: 60px;
    margin-left: 16px;
}

#summary_guide h4 {
    font-family: 'EniExpRegRegular';
    font-size: 34px;
}

#summary_guide li {
    background-color: transparent;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 9px 10px 9px 10px;
    /*margin: 6px 0px 10px 0px;*/
    line-height: 26px;
}

#summary_guide li:hover {
    background-color: #232323;
    cursor: pointer;
}

#summary_guide a {
    font-family: 'EniTabBoldRegular';
    font-size: 20px;
    text-decoration: none; 
    color: #464646;
}

#summary_guide li:hover a, #summary_guide li.active-link:hover a {
    font-family: 'EniTabBoldRegular';
    font-size: 20px;
    text-decoration: none;
    color: #fed300;
}

.section_guide {
    margin-top: 60px;
    margin-left: 16px;
}

.section_guide .header_guide {
    font-family: 'EniExpRegRegular';
    font-size: 36px;
    text-align: left;
    color: #464646;
}

.section_guide .title_subsection_guide {
    font-family: 'EniTabBoldRegular';
    font-size: 20px;
    text-decoration: none;
    color: #464646;
    margin-top: 24px;
    margin-bottom: 6px;
}

.section_guide .text_subsection_guide {
    font-family: "EniExpRegRegular", Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #999999;
}

.section_guide .text_subsection_guide p {
    line-height: 24px;
    padding: 4px;
}

.section_guide .text_subsection_guide p b {
    font-family: 'EniExpBoldRegular';
    font-weight: normal;
}

.section_guide .text_subsection_guide p a {
    text-decoration: underline;
    color: #333333;
}

.section_guide .text_subsection_guide p.text_note {
    line-height: 20px;
    padding: 0 4px 4px 4px;
    color: #333333;
    font-family: 'EniExpRegRegular';
}

.section_guide ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 24px;
    margin-top: 8px;
}

.section_guide li {
    line-height: 22px;
    margin-bottom: 12px;
}

.section_guide .border_block_subsection_guide {
    border: 1px solid #dddddd;
    margin: 6px 0px;
}

.section_guide .border_block_subsection_guide b {
    font-family: EniExpBoldRegular;
    font-weight: normal;
}


/* =====================================================
/* Promo
===================================================== */

.landing_content {
    padding: 0 40px;
}

.landing_subnote {
    font-family: 'EniExpLightRegular';
    font-size: 24pt;
    margin: 60px 0;
}

/* =====================================================
/* custom checkbox
===================================================== */

.checkbox input {
    opacity: 0;
    background: transparent none repeat scroll 0% 0%;
    border: medium none;
    width: 20px !important;
    height: 20px !important;
    margin: 0px;
    display: inline-block;
    text-align: center;
    margin-left: -1px !important;
}

.checkbox span {
    top: 1px;
    left: 0px;
    z-index: 1;
    width: 20px;
    height: 20px;
    margin-left: 0px !important;
    background: transparent none repeat scroll 0% 0%;
}

.checkbox span.checked {
    background: transparent url("../img/checkbox_spunta.png") no-repeat center left 2px / 16px 12px!important;
    display: inline-block;
}

div .checkbox {
    vertical-align: middle;
    display: inline-block;
    margin-top: 10px !important;
}

div.checkbox span {
    width: 20px;
    height: 20px;
}

div.checkbox span form-field-info {
    width: 100%;
}

div.checker {
    margin-right: 8px;
    width: 20px;
    height: 20px !important;
    background-color: #FFF;
    border: 1px solid #D9D9D9;
    display: inline-block;
}

@media (max-width:400px) {
    .text_payment {
        font-size: 13px !important;
    }
}

@media (min-width: 600px) and (max-width: 979.9px) {
    
    .table_basic th {
        padding: 20px 5px 20px 5px;
    }
	
    .table_basic tr td {
        padding: 15px 5px;
    }
}

@media (max-width:980px) {
    
    #payment_history_table {
        min-height: 620px;
        height: auto;
    }
}

#search_filters .datepicker { width: auto !important; }


@media (max-width: 400px) {
    .height-content-carousel {
        height: 500px;
    }
    .margin-welcome {
        margin: 150px 30px 0 30px;
    }
}

@media (min-width: 401px) and (max-width: 599.9px) {
    .height-content-carousel {
        height: 640px;
    }
    .margin-welcome {
        margin: 190px 30px 0 30px;
    }
    
}

@media (min-width: 600px) and (max-width: 979.9px) {
    .height-content-carousel {
        height: 600px;
    }
    .margin-welcome {
        margin: 100px 30px 0 30px;
    }
}

@media (min-width: 980px) and (max-width: 1199.9px) {
    .height-content-carousel {
        height: 600px;
    }
    .margin-welcome {
        margin: 70px 30px 0 30px;
    }
}

@media (min-width: 1200px) {
    .height-content-carousel {
        height: 555px;
    }
    .margin-welcome {
        margin: 50px 30px 0 30px;
    }
}

@media (min-width: 460px) and (max-width: 599.9px) {
    .posizione-button-carousel-welcome {
        text-align: right;
        margin-top: 20px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 459.9px) {
    .posizione-button-carousel-welcome {
        text-align: right;
        margin-top: 20px;
        max-width: 400px;
        margin-left: auto;
        margin-right: 30px;
    }
}

@media (min-width: 600px) and (max-width: 899.9px) {
    .posizione-button-carousel-welcome {
        text-align: right;
        margin-top: 20px;
        max-width: 840px;
        margin-left: auto;
        margin-right: 30px;
    }
}

@media (min-width: 900px) {
    .posizione-button-carousel-welcome {
        text-align: right;
        margin-top: 20px;
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;
    }
}

.landing_text b {
    font-family: 'EniExpBoldRegular';
    font-weight: normal;
}

.landing_note b {
    font-family: 'EniExpBoldRegular';
    font-weight: normal;
}

.carousel-control {
    width: 2%;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 0;
    background-color: #333333;
    opacity: 1;
    border: 1px solid transparent;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0;
    text-indent: -999px;
    cursor: pointer;
    background-color: #333333;
    opacity: 0.4;
    border: 1px solid transparent;
    border-radius: 10px;
}