html{background-color: #f8f8f8}
html body{ height:100%;}
#EniStartContent{
	width: 100%;
	height: auto;
}
*{margin:0;padding:0;}
#swipe{width:100%; overflow:hidden;}
.mainImgTop{min-height: 35vh; position: absolute; top:0; left: 0; right: 0; width: 100vw; background-color:#e5e5e5; background-repeat: no-repeat; background-image: url('../img/trama_background.png'); background-size: cover; background-position: center center;}
.owl-stage{ display: flex; }
.pages{width:100vw; overflow:hidden;} /*-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;*/
.page{float:left;width:100vw;text-align:center;color:#fff;background:transparent; overflow: hidden;}
.page .content{ margin:0 auto; overflow:hidden; padding-bottom:60px;}
.page .content .innerWrapper { width: 80%; margin: 0 auto; overflow: unset; min-height: 35vh;}
.page .content .imgTop {margin:0 auto; width: 100%; /* background-color:#fed300;*/}
.page .content .imgTop img {display: block; width: 100%; position: absolute; max-width: 80vw; top: 12.5vh;}
.page p.title .textimg{height: 35px; width: auto;}
.page h1, .page p{text-align:left;}
.page p.title{ color:#cd3942; color: #333333; font-size:36px; line-height:1.11; margin:0 auto; margin-bottom:20px; font-family: 'EniExpBoldRegular'; margin-top: 12.5vh}
.page p{color:#4a4a4a; font-size:18px; line-height: 1.22; margin:0 auto;}
.page .first{}
.page .second{}
.flag{background-image:url('../img/ic_bandiera_gialla@3x.png'); background-repeat:no-repeat;background-size: 90%;/* min-width: 40vw; max-width: 170px;*/ background-position: right; padding:10px; padding-right:0;}
.flag p, .flag p{font-family: 'EniExpBoldRegular'; line-height:2;padding:20px; margin: 0; text-align: right;padding-left:45px; font-size:18px; color:#4a4a4a;}
.flag span.pt{font-size: 18px;font-family: 'EniExpBoldRegular'; }

.flag{position: fixed;top: 5%;right:0;}
.flag.plus1{position:fixed; top:18%;right:0; -webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.navbar{position: fixed; bottom:0; width: 100vw; padding: 10px 0; z-index:10; background-color: #f8f8f8;}
.navbar .regolamento{float: left; color:#4a4a4a;font-family: 'EniExpBoldRegular'; font-size: 18px; padding-left: 10vw;}
.navbar .next{float: right; color:#47b24d; font-family: 'EniExpBoldRegular'; font-size: 18px; padding-right: 10vw;}
.nvabar .next a{-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s; font-size:18px; font-family: 'EniExpBoldRegular';}
.flag.plus1.hidden{right:-50vw; -webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.hide{display: none;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;};

body, html{
	margin:0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h1, h2, h3{
	font-family: 'EniExpBoldRegular';
	color:#333;
	line-height: 150%;
	font-size: 25px;
	font-size:5vw;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
p, a, span {
	font-family: 'EniExpLightRegular';
	font-size:15px;
	/*font-size:3.8vw;*/
	line-height: 150%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
p{	
	color:#333;
	padding: 0 2.5px;
}
a{
	color:#ffcd00;
	text-decoration: none;
}
small{
	font-size: 11px;
	font-size:3vw;
	color: #333;
	line-height: 150%;
	padding: 5px 0 15px 0;
	clear: both;
	display: block;
}
/*WRAPPER PRINCIPALE*/
header{
	background-color:#f8f8f8;
	padding:8% 0;
	text-align: center;
}
header h1, header p{
	margin:0 auto;
}

.br-theme-fontawesome-stars .br-widget{
	height:unset !important;
	display: inline-block;
	position: relative;
	width: 100%;
}
.br-wrapper.br-theme-fontawesome-stars{
	display: inline-block;
	width:100%;
	position: relative;
}
.br-theme-fontawesome-stars .br-widget a{
	margin:1%;
	margin-top:2%;
	padding:0.25%;
	background-color:#f8f8f8;
	border-radius:2.5px;
	font-size:5vw;
	line-height:200%;
	text-align:center;

	display: inline-block;
	width: 18%;

	max-height:70px;
	line-height: 70px;
}
.br-theme-fontawesome-stars .br-widget a{
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.br-theme-fontawesome-stars .br-widget a:first-child{
	margin-left:0 !important;
}
.br-theme-fontawesome-stars .br-widget a:last-child{
	margin-right:0 !important;
}

.br-theme-fontawesome-stars .br-widget a.br-selected{
	background-color:#ffcd00;
}
.br-theme-fontawesome-stars .br-widget a:after{
	color:#fff !important;
}
footer{
	width:100%;
	margin:30px auto;
	text-align: center;
}
button#output_uno, #output_due a, #skip{
	text-align: center;
	padding:5% 20%;
	border:none;
	border-radius:2.5px;
	box-shadow:none;
	color:#fff;
	font-size:18px;
	/*font-size:3.8vw;*/
	width:100%;
	font-family: 'EniExpBoldRegular';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;

	line-height:100%;
}
button#output_uno{
	height:70px;
	background-color: #f1f1f1;
}

#output_due{
	background-color:transparent;
	display: block;
	width:90%;
	margin:0 5% 20px 5%;
}
#output_due a{
	display: inline-block;
	width: auto;
	margin: 0 auto;
	line-height: 200%;
	width: 50%;
	margin-bottom:20px;
}


#skip{
	background-color: #fff;
	color: #2d2d28;
	margin: 0 auto 10px auto;
	padding: 0;
	width: auto;
	border: 1px solid #2d2d28;
}
#skip a{
	background-color: #fff !important;
	color: #2d2d28 !important;
	min-width: 100%;
	position: relative;
	display: inline-block;
	line-height: 70px !important;
	font-family: 'EniExpBoldRegular';
}

button#output_uno:focus,
#output_due a:focus,
button#output_uno:active
#output_due a:active{
	background-color:#ffcd00;
	color:#fff !important;
	transition:all 0.5s;
	cursor:pointer;


	background-color: #2d2d28; color: #fff; cursor: pointer;
}
button:active a, button:active a:hover, button:active a:focus{
	color:#fff;
}

@media (min-aspect-ratio: 2/1) {
	.mainImgTop{background: red}
	.page .content .imgTop img {top: 16vh;}
	.page p.title{ color:#cd3942; color: #333333; font-size:36px; line-height:1.11; margin:0 auto; margin-bottom:20px; font-family: 'EniExpBoldRegular'; margin-top: 12.5vh}
}

@media (min-width: 320px) {
	.flag{/*min-width: 150px !important;*/}
}


@media (max-width: 370px) {
	/*.flag p, .flag p{padding:12px!important; padding-left:40px;}*/
	.mainImgTop, .page .content .innerWrapper {min-height: 25vh;}
	.page .content .imgTop img { top: 1vh;}
	.page p.title{ margin-top: 8vh}
}

/*RESET PER SCHERMI PIU GRANDI DI 1200px */
@media(min-width: 680px){
	.star-ratings-wrapper.header, .star-ratings-wrapper.content{
		margin:0 auto;
		width:100%;
		max-width:680px;
	}
	h1, h2, h3{
		font-size: 25px;
	}
	p, a, span {
		font-size:15px;
	}
	small {
		font-size: 11px;
	}
	header{
		padding: 30px 0;
	}
	.br-theme-fontawesome-stars .br-widget a{
		font-size:20px;
	}
	.stars .title #bullet{
		font-size: 40px;
		line-height: 100%;
		margin-top: -1.5%;
	}
		#submitted .thanks{
			margin-top:100px;
		}
		#submitted{
			overflow:hidden !important;
			background-size: 30% auto;
		}
	}

@media (min-width: 1280px) {
	#EniStartContent{margin: 0 auto;}
	.page .content{
	}
	.flag{}
	.navbar{}
}