@font-face {
	font-family: 'enitablightregular';
	src: url('../fonts/enitabreg-webfont.eot');
	src: url('../fonts/enitabreg-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/enitabreg-webfont.woff2')
		format('woff2'), url('../fonts/enitabreg-webfont.woff') format('woff'),
		url('../fonts/enitabreg-webfont.ttf') format('truetype'),
		url('../fonts/enitabreg-webfont.svg#enitabregregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
		url('../fonts/opensans-regular-webfont.woff') format('woff'),
		url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
		url('../fonts/opensans-regular-webfont.svg#open_sansregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

.btn-primary:not (.btn-link ):not (.btn-flat ){
	background-color: #2d2d28 !important;
	color: rgba(255, 255, 255, .84) !important;
}

.form-horizontal .form-group {
	margin-right: 0px;
	margin-left: 0px;
}

body {
	background-color: #FFFFFF !important;
	font-family: 'open_sansregular' !important;
	font-size: 150%;
}

.error {
	color: #c6061d;
}

.btn {
	padding: 16px 30px !important;
}

.container {
	padding-right: 16px;
	padding-left: 16px;
	padding-top: 10px;
}

.info-image {
	padding-top: 60px;
	padding-bottom: 60px;
	width: 70%;
}

.center {
	text-align: center;
}

.eni-font {
	font-family: 'enitablightregular' !important;
	font-size: 150%;
}

.eni-font-title {
	font-family: 'enitablightregular' !important;
	font-size: 170%;
	/* -webkit-margin-end: 0px; */
	-webkit-margin-after: 0px;
	-webkit-margin-before: 0px;
}

.eni-font-small {
	font-family: 'enitablightregular' !important;
	font-size: 100%;
}